/**
 * DEEP - PURPLE temasının renk kodları
 *
 *
 * @author Merve Karakarcayildiz
 *
 * @date   04.10.2016 16:55:31
 */

/****************************************************************** PURPLE - PİNK  ********************************************************/

.ui-panel:not(.panelGridNoBorder){
    -moz-box-shadow: 0px 0px 5px 0px #78909C;
    -webkit-box-shadow: 0px 0px 5px 0px #78909C;
    box-shadow: 0px 0px 5px 0px #78909C;
} 


/* DASHBOARD */

/* Topbar */
#layout-header{
    background-color: #89c2bc!important;
    border-top-color: #7b789c;
    border-bottom-color: #7b789c;
    -moz-box-shadow: 0px 0px 5px 0px #794a9e;
    -webkit-box-shadow: 0px 0px 5px 0px #794a9e;
    box-shadow: 0px 0px 5px 0px #7b789c

}

/* Topbar Icon */
.layout-header-widgets > li{
    background-color: #79769c !important;
}

.layout-header-widgets > li > a > i, .layout-header-widgets > li > i{
    color: #FFFFFF !important;
}

.tooltip:before{    
    background-color: #7b789c !important;
    color: #ECEFF1;
}

.footerVersion{    
    background-color: #e8e3fa !important;
 
}

.alertBubble{
    background-color:#6a6792 !important;
    color: #ECEFF1;
}

/* Topbar Right Submenu */
.layout-header-widgets-submenu > li{
    background-color: #79769c!important;
    border-color: #7b789c;  
}
.layout-header-widgets-submenu > li:hover{
    background-color: #9694b3  !important;
}

#sm-topmenu>li:focus,#sm-topmenu a:focus{
    background-color: #9694b3 !important;
}
.layout-header-widgets-submenu > li > a{
    text-decoration: none;
    color: #ffffff !important;
}

.layout-header-widgets-submenu{    
    background-image: url("#{resource['sentinel-layout:theme/images/popup-arrow-deeppurple.png']}") !important;
}




/* BreadCrumb */

.cBreadCrumb{    
    background-color: #e7e6ec !important;
    border-bottom-color: #4b6071;
    -moz-box-shadow: 5px 0px 5px 0px #4b6071;
    -webkit-box-shadow: 5px 0px 5px 0px #4b6071;
    box-shadow: 5px 0px 5px 0px #4b6071;
}

.cBreadCrumb > ul > li > a > span{
    color: #545454 !important;
}
.cBreadCrumb > ul > li > a > span:hover{
    color: #545454 !important;
}

.ui-breadcrumb .ui-icon-home{    
    background-image: url("#{resource['sentinel-layout:theme/images/breadcrumb-home-deeppurple.svg']}") !important;    
}

.ui-breadcrumb-chevron{    
    background-image: url("#{resource['sentinel-layout:theme/images/breadcrumb-arrow-deeppurple.svg']}") !important;
}

/* LEFT MENU */
#layout-menubar{
    background-color: #2f2f2f !important;
    -moz-box-shadow: 0px 0px 8px 0px #5a5a5a;
    -webkit-box-shadow: 0px 0px 8px 0px #5a5a5a;
    box-shadow: 0px 0px 8px 0px #5a5a5a;
}
#layout-menubar i{
    color:#89c2bc!important;
}

#layout-menubar li:hover{
    background-color: #2f2f2f !important;  
}

#layout-menubar li > a{
    color: #ffffff !important;   
    border-color: rgba(137, 194, 188, 0.2) !important;
}

#layout-menubar li > a:hover{
    color: #89bcc2 !important;
}




/* LeftMenu Search & Resize */
.leftSearchDiv{ border-bottom-color: rgba(137, 194, 188, 0.2) !important; }

.leftSearchDiv > input[type="text"] { color: #ECEFF1 !important; } 

#searchArea:hover{
    background-color: #2f2f2f !important;  
}
.slimsearch:hover{
    background-color: #2f2f2f !important;
}
.slimsearch:hover i{
    color: #4cccc0 !important;
}

#layout-menubar-resize, #layout-menubar-resize2{
    background-color: #2f2f2f !important;    
    border: 0.5px solid #7b789c !important;
}


/* LeftMenu Scroll */

.sm_defaultcompany > ul::-webkit-scrollbar, .sm_modules > ul::-webkit-scrollbar{
    background-color: #ECEFF1 !important;
}

.sm_defaultcompany > ul::-webkit-scrollbar-thumb, .sm_modules > ul::-webkit-scrollbar-thumb{
    background-color: #89c2bc!important;
}

.MSScroll {
    scrollbar-base-color:#6a6792 !important;
    scrollbar-track-color:#6a6792 !important;
    scrollbar-arrow-color:#6a6792 !important;
}    




/* UI Panel */

.ui-panel{
    border-color: #989696 !important;
}
.ui-panel .ui-panel-titlebar{
    background-color: #ce84b2!important;
    color: #FFFFFF !important;
    border-color: #b39994 !important;
}

.ui-panel .ui-panel-titlebar i{
    color: #FFFFFF !important;
}


/* UI Panel Grid */
.ui-panelgrid{
    border-color: #696782 !important;
}


/* UI Menu */

.ui-panelmenu-header{
    background: none !important;
}

.ui-panelmenu-header a, .ui-panelmenu-content a {
    color: #303030 !important;    
}

.ui-panelmenu-header a:hover, .ui-panelmenu-content a:hover{
    color: #6e6a9a !important;
    background: none !important;
}

.ui-panel-titlebar .ui-chkbox-box .ui-icon-check{
    background-image: url("#{resource['sentinel-layout:theme/images/check-white.svg']}") !important;    
}



/* TOOLBAR */ 

.ui-toolbar{
    background-color: #CFD8DC !important;
    border-color: #7b789c !important;
}

.outputTextFont, .outputTextFontTab{
    color: #6c7479 !important;
}
.outputTextSelectedObject{
    color: #6a6792!important;
}

.tlbrAddBtn{
    color: #6a6792 !important;
}

.tlbrFilterBtn{
    color: #5a5a5a !important;
}

.tlbrExcelBtn{
    color: #008641 !important;
}

.tlbrPdfBtn{
    color: #EF1011 !important;
}
.tlbrUploadBtn{
    color:#347a9e !important;
}

.tlbrColumnBtn{
    color: #5A5A5A !important;
}

.tlbrBackBtn{
    color: #6a6799!important;
}

.tlbrSaveBtn{
    color: #4d7975 !important;
}

.tlbrDeleteBtn{
    color: #e90c45 !important;
}

.tlbrSearchInput{
    border-color: #7b789c !important;
}

.tlbrIconMenu{
    color: #5A5A5A !important;
}

.tlbrSearchClear{
    color: #8f5ab1 !important; 
}

.tlbrPanelToggle{
    color: #6a6799 !important;
}
.tlbrGraphicBtn{
    color: #ef9444 !important;
}





/* DATATABLE */

.ui-datatable{    
    border-color: #7b789c !important;
}

.ui-datatable-header{
    background-color: #ce84b2 !important;
}

.ui-datatable-header > span{
    color: #ffffff !important;
}

.ui-datatable-header i{
    color: #ffffff !important;
}

/* DataTable TBody */ 

.ui-datatable .ui-datatable-scrollable-header table thead tr th, .ui-datatable .ui-datatable-tablewrapper table thead tr th{    
    background-color: #ce84b2 !important;
    color: #ECEFF1 !important;
}

.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-hover, 
.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-active,
.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-hover i,
.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-active i{
    background-color:#bd8aac !important;
    color: #ECEFF1 !important;
}


/* DataTable Table */

.ui-datatable table tbody tr td{
    color: #303030 !important;
    border-color:#cfd8dc !important;
    font-weight: normal;
}
.ui-outputlabel, table tbody tr td {
    color: #303030;
    font-weight: normal;
}


.ui-datatable .ui-datatable-even, .treeBankAndBranch table tbody tr:nth-child(even){
    background-color: #ECEFF1 ;
}

.ui-datatable .ui-datatable-odd, .treeBankAndBranch table tbody tr:nth-child(odd){
    background-color: #FFFFFF ;
}

.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-hover td, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-hover td{
    background-color: rgba(137, 194, 188, 0.82) !important;
    color: #ffffff !important;
}

.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-highlight td, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-highlight td{
    background-color:#80bbb5 !important;
    color: #ffffff !important;
}

.ui-datatable table tr td a{
    color: #8f5ab1 !important;
}

.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-highlight td a, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-hover td a,
.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-highlight td a, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-highlight td a{
    color: #ECEFF1 !important;
}

/* DataTable Paginator */
.ui-paginator {
    background-color:#ce84b2 !important;
}

.ui-paginator a{
    color: #FFFFFF !important;
    border-color: #ECEFF1 !important;
}

.ui-datatable .ui-paginator .ui-state-active{
    background-color: #73a9a3 !important;
}

.ui-datatable .ui-paginator .ui-state-hover{
    background-color:rgba(137, 194, 188, 0.73) !important;
}

.ui-paginator span{    
    color: #ECEFF1 !important;
}

.ui-paginator > select > option:checked, .ui-paginator > select > option:hover{
    background-color: #73a9a3  !important;
    color: #ECEFF1 !important;
}



/* Top Tabs */
.ui-tabs-top {
    border-color: #7b789c !important;
    background-color: #efefef !important;
}

.ui-tabs-top > div > ul.ui-tabs-nav {
    border-bottom-color: #7b789c !important;
    background: #e7e6ec !important;
}

.ui-tabs-top > div > ul.ui-tabs-nav > li > a {
    color: #545454 !important;    
}


.ui-tabs-top > div > .ui-tabs-nav li.ui-tabs-selected, 
.ui-tabs-top > div > .ui-tabs-nav li.ui-tabs-active, 
.ui-tabs-top > div > .ui-tabs-nav li.ui-state-hover{
    background-color: #efefef !important;
    border-color: #7b789c !important;
    border-bottom-color: transparent !important;
}

.ui-tabs-top > div > .ui-tabs-nav > li.ui-tabs-selected a, 
.ui-tabs-top > div > .ui-tabs-nav > li.ui-tabs-active a, 
.ui-tabs-top > div > .ui-tabs-nav > li.ui-state-hover a{
    color: #706d94 !important;
}

.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn{
    -moz-box-shadow: inset 0 0 0 1px #8f5ab1 !important;
    -webkit-box-shadow: inset 0 0 0 1px #8f5ab1 !important;
    box-shadow: inset 0 0 0 1px #8f5ab1 !important;
    background: #8f5ab1 !important;
    border: solid 1px #5b1d8e !important;
}



/* LEFT TABS */
.ui-tabs-left > ul.ui-tabs-nav > li > a {
    color: #545454 !important;    
}

.ui-tabs-left > .ui-tabs-nav > li.ui-state-hover a{
    color: #8f5ab1 !important;
}


.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected{ 
    background-color: #8f5ab1 !important;
}
.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected a{
    color: #FFFFFF !important;
}



/* Layout */
.ui-layout-unit-header{
    background-color: #607D8B !important;
    color: #607D8B !important;
}


/* Dialog */
.ui-dialog{
    border-color: #6a6882 !important;
    -moz-box-shadow: 0px 0px 5px 0px #78909C !important;
    -webkit-box-shadow: 0px 0px 5px 0px #78909C !important;
    box-shadow: 0px 0px 5px 0px #78909C !important;
}


/* Overlay */
.ui-overlaypanel{
    border-color: #6a6792 !important;
    -moz-box-shadow: 0px 0px 5px 0px #78909C !important;
    -webkit-box-shadow: 0px 0px 5px 0px #78909C !important;
    box-shadow: 0px 0px 5px 0px #78909C !important;
}




/* Form Object */

.divContent{
    border-color: #7b789c !important;
}


/* Book Input */
.iconPositionForBookFilter{
    color: #6ea59f !important;
}
.bookColor{
    color: #6a6792 !important;
}


/* Input Object */
.ui-inputfield.ui-state-hover, .ui-inputfield.ui-state-focus{
    border: solid 1px #6a6882;
    color: #6a6882 !important;
}

.ui-inputfield{
    color: #303030 ;
}

.ui-outputlabel{
    color: #5a5a5a !important;
}


/* Select Form Object*/
.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
    background: #6a6792 !important;
    border-color: #6a6792 !important;
    -webkit-box-shadow: inset 0px 0px 5px 0px #78909C !important;
    -moz-box-shadow: inset 0px 0px 5px 0px #78909C !important;
    box-shadow: inset 0px 0px 5px 0px #78909C !important;
}

.ui-selectonemenu.ui-state-focus,
.ui-selectcheckboxmenu.ui-state-focus,
.ui-paginator-page.ui-state-focus,
.ui-paginator-next.ui-state-focus,
.ui-paginator-prev.ui-state-focus,
.ui-paginator-last.ui-state-focus,
.ui-paginator-first.ui-state-focus,
.ui-paginator-rpp-options.ui-state-focus{
    border-color: #78909C !important; 
}

.ui-selectonemenu-panel{
    border-color: #78909C !important;
    color: #8a5ab1 !important;
}

.ui-selectonemenu-panel .ui-state-highlight, .ui-selectcheckboxmenu-panel .ui-state-highlight {
    color: #6ea09b !important;
}


/* Button */
.pgrToButton{
    background-color: #6a6792 !important;
}
.ui-button span{
    background-color: #6a6792;
    border-color: #6a6792 !important;
    color: #ECEFF1 !important;
}

.ui-button .ui-button-text{    
    -webkit-box-shadow:  inset 0px 0px 5px 0px #78909C !important;
    -moz-box-shadow:  inset 0px 0px 5px 0px #78909C !important;
    box-shadow:  inset 0px 0px 5px 0px #78909C !important; 
}
/*
.ui-button .ui-state-active .ui-button-text{
    background: #8a5ab1 !important;
}
*/

/* Steps */

.ui-steps .ui-state-highlight{
    background-color: #749c98  !important;
}

.ui-steps .ui-steps-item .ui-steps-number{
    border-color: #678c88  !important;
    background-color: #678c88  !important;
}




/* PickList */

.ui-picklist .ui-widget-header{
    border-color: #79769c !important;
    border-top-color: #79769c !important;
    border-bottom-color: #79769c !important;
    background-color: #79769c !important;
    color: #ECEFF1 !important;
}



.ui-picklist-list i{
    color: #6c9a95 !important;
}




.ui-picklist-item td{
    color: #303030 !important;
}

.ui-picklist .ui-sortable li{
    background-color: #fbfcfd !important;
}


.ui-picklist .ui-picklist-list .ui-state-hover{ 
    background-color: rgba(137, 194, 188, 0.82) !important;
}

.ui-picklist .ui-picklist-list .ui-state-highlight{
    background-color: #80bbb5 !important;
}

.ui-picklist .ui-picklist-list .ui-state-hover td, .ui-picklist .ui-picklist-list .ui-state-highlight td{
    color: #ECEFF1 !important;
}

.ui-picklist .ui-picklist-list .ui-state-hover td i, .ui-picklist .ui-picklist-list .ui-state-highlight td i{
    color: #ECEFF1 !important;
}




/* Tree Menu */

.ui-tree{
    color: #303030 !important;
}

.ui-tree .ui-treenode .ui-treenode-label.ui-state-hover{
    color: #8a5ab1 !important;
}

.ui-tree .ui-chkbox .ui-state-hover, .ui-chkbox .ui-state-focus{
    border-color: #6a6792 !important;
}


/* Checkbox */
.ui-chkbox .ui-chkbox-box{
    border-color: #cfd8dc !important;
}
.communicationcheckbox .ui-chkbox-box{
    border-color: #8f5ab1 !important;
}

.ui-chkbox .ui-state-hover, .ui-chkbox .ui-state-focus{
    border-color: #6a6792 !important;
}
.ui-chkbox-box .ui-icon-check, .authorizationPage .ui-treenode-content .ui-chkbox-box .ui-icon-minus{
    background-image: url("#{resource['sentinel-layout:theme/images/check-deeppurple.svg']}") !important;
}

.ui-chkbox-box .ui-icon-closethick{
    background-image: url("#{resource['sentinel-layout:theme/images/closethick-deeppurple.svg']}") !important;
    background-size: 100%;
    background-position: center;
}

/* Datepicker */
.ui-datepicker-header {
    border-color: #b6d1e4 !important;
    background-color:#79769c  !important;
}

.ui-datepicker-title select{
    border-color: #ECEFF1 !important;
    background-color: #79769c  !important;
}

.ui-timepicker-select{
    background-color: #79769c  !important;
}

.ui-datepicker-calendar thead th {
    background-color: #B0BEC5 !important;
    color: #ECEFF1 !important;
}

.ui-datepicker-calendar thead .ui-datepicker-week-end{
    background-color:#79769c  !important;
    color: #ECEFF1 !important;
}

.ui-datepicker-header .ui-datepicker-prev-hover, .ui-datepicker-header .ui-datepicker-next-hover{
    background-color:#79769c  !important;
}

.ui-datepicker-current-day, .ui-datepicker-current-day a{    
    border-color: #79769c  !important;
    color: #79769c  !important;
}

.ui-datepicker-calendar tbody td:hover, .ui-datepicker-calendar tbody td:hover a{
    border-color:#79769c  !important;
    color: #2c84b1 !important;
}

.ui-datepicker-buttonpane button{
    background-color:#79769c  !important;
    border-color: #B0BEC5 !important;
    color: #ECEFF1 !important;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-today a{
    color:#303030 !important;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-today{
    border-color:#8f5ab1 !important;
}

/********Fieldset*********/

.tlbrRefreshBtn{
    color: #6a6792 !important;
}
.tlbrSearchBtn{
    color: #EF1011 !important;
}
.fltrPlusBtn{
    color:#6a6792!important;
}

/*Panel Group*/
.categoryOutputText{

    border-color: #6da29d !important;
    background-color: #d6e4e3 !important;
    color:#303030 !important;
}
.districtOutputText{
    border-color: #8f5ab1 !important;
    background-color: #8a5ab1 !important;
    color: #eceff1 !important;  
}
.ui-fileupload-choose{
    background-color: #8a5ab1 !important; 
}

/*** MESSAGE CSS ******/
.messageContent .ui-icon{
    color: #79769c !important;
}

/*** MENUBAR CSS ******/
.ui-menu{border:solid 1px #8a5ab1; background-color: #FBFCFD; color: #8a5ab1;}
.ui-menu:hover, .ui-menu:focus{border:solid 1px #8a5ab1;}
.ui-menu{border-radius: 5px 5px 5px 5px;}

/*** MESSAGE LI TEXT CSS******/
.layout-header-widgets-submenu li{background-color:#79769c!important;}
.layout-header-widgets-submenu li > a{ text-decoration: none; color: #ffffff !important; }


/*** CHATBOX TOOLTIP CSS******/
a.tooltip:hover span{
    color:#fff !important;
    border:#DCA !important; 
    background:#D655AA !important; 
}

/*CSS3 extras*/
a.tooltip span
{
    box-shadow:#CCC;
}
.layout-header-widgets-submenu li > a{ text-decoration: none; color: #ffffff !important;}

/************   CHAT CSS   ************/

.rightusername{
    background-color: #8a5ab1 !important;
    color: #FFF !important;
}

.chatminimize{
    background-color: #8a5ab1 !important;
    color: #FFF !important;
}

.chatclose{
    background-color: #8a5ab1 !important;
    color: #FFF !important;
}

.msgSend{
    background-color: #8a5ab1 !important;
    color: #FFF !important;
}

.gidenmesaj{
    background-color: #8a5ab1 !important; 
    color: #FFF !important;
    border-color: #FFF !important;
}

.chatboxleft{
    background-color: #798086 !important; 
    color: #FFF !important;
    border-color: #FFF !important;
}
/************   AUTOCOMPLETE   ************/
.ui-autocomplete-panel{
    background-color: #ECEFF1 !important;
}

.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item {
    color: #303030 !important;
    border-bottom-color: #8a5ab1 !important;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-state-highlight{
    color: #FFFFFF !important;
    background-color: #de87c0 !important;
}

/********** TREETABLE *****/

.ui-treetable {
    border-color:#8f5ab1 !important;
}

/* TreeTable TBody */ 

.ui-treetable table thead tr th{
    background-color: #ce84b2  !important;
    color: #ECEFF1 !important;

}
/* TreeTable */

.ui-treetable table tbody tr td{
    color: #303030 !important;
    border-color:#cfd8dc !important;
    font-weight: normal;
}

.ui-treetable table tbody .ui-state-hover td{
    background-color: rgba(137, 194, 188, 0.82) !important;
    color: #ECEFF1 !important;
}
.ui-treetable table tbody .ui-state-highlight td{
    background-color: #80bbb5 !important;
    color: #ECEFF1 !important;

}

.ui-treetable table tbody tr td a{
    color: #de7883 !important;
}

.ui-treetable table tbody .ui-state-hover td a,
.ui-treetable table tbody .ui-state-highlight td a{
    color: #8f5ab1 !important;
}

.categoryTreeSize table tbody .ui-state-hover td,
.categoryTreeSize table tbody .ui-state-highlight td{
    color: #303030 !important;
    background-color:#efefef !important; 
}


.ui-selectoneradio label {
    color:#303030 !important;
}
.ui-selectmanycheckbox label{
    color:#303030 !important;
}
.slcBranchSettings label{
    color: #72828B !important;
}
.ui-radiobutton .ui-state-active .ui-icon-bullet, .ui-radiobutton .ui-state-focus .ui-icon-bullet {
    background-image: url("#{resource['sentinel-layout:theme/images/radio-on-deeppurple.svg']}") !important;
}
.ui-radiobutton .ui-state-hover, .ui-radiobutton .ui-state-focus {
    border-color: #8a5ab1 !important;
}
.ui-inputswitch-handle {
    border-color: #8a5ab1 !important;
    -webkit-box-shadow:  inset 0 0 0 1px #8a5ab1 !important;
    -moz-box-shadow:  inset 0 0 0 1px 0px #8a5ab1 !important;
    box-shadow:  inset 0 0 0 1px #8a5ab1 !important; 
    background: #8a5ab1 !important;
}
.ui-inputswitch:hover, .ui-inputswitch:focus{
    border-color: #8a5ab1 !important;
}
.ui-inputswitch{
    color: #303030 !important
}
/* selectManyButton */
.selectManyButton > div > span{
    background-color: #8f5ab1 !important;
    border-color: #8f5ab1 !important;
    color: #FFFFFF !important; 
}
.selectManyButton > div > span:hover{
    background-color: #de87c0 !important;
    border-color: #de87c0 !important;
    color: #FFFFFF !important; 
}
.selectManyButton > .ui-state-active > span{
    background-color:  #5b1d8e !important;
    border-color:  #5b1d8e !important;
    color: #FFFFFF !important; 
}

/*.ui-tree-horizontal .ui-treenode .ui-state-hover{
    border: solid 1px #8a5ab1 !important;
}

.ui-tree-horizontal .ui-treenode .ui-state-highlight{  
    border: solid 1px #8a5ab1 !important;
    background-color: #8a5ab1 !important; 
}*/
.ui-datagrid .ui-paginator .ui-state-active{
    background-color: #73a9a3 !important;
}
.ui-datagrid .ui-paginator .ui-state-hover{
    background-color: #6a6792 !important;
}
.changeBtn{
    color:#6a6792 !important;
}
.ui-datascroller .ui-datascroller-header{
    background-color: #8f5ab1;
}
.ui-menu .ui-state-hover .ui-menuitem-link{
    color:#79769c  !important;
}
.ui-datatable .ui-datatable-tablewrapper table tfoot tr td, .ui-datatable-resizable tfoot td{
    background-color: #e7e6ec !important;
}
.searchİcon{
    color: #de87c0 !important;
}
.allİconColor{
    color:#8f5ab1 !important;
}
.allİcons{
    color: #da376f !important;
}
.ui-datatable .ui-datatable-scrollable-header{
    background-color: #79769c  !important;
}
.ui-tooltip{   
    background-color: #5b1d8e !important;
    color: #ECEFF1;
}

.ui-tooltip .ui-tooltip-text{    
    background-color: #5b1d8e !important;

}
.ui-tooltip .ui-tooltip-arrow{    
    border-top-color: #5b1d8e !important;

}
.ui-accordion{border:solid 1px #8a5ab1  !important;}
.ui-accordion:hover{border:solid 1px #6a6792  !important;}
.ui-accordion-header{color:#303030; border:solid 1px #8a5ab1 !important;
                     background: #CFD8DC;
                     /*background: -moz-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: -webkit-gradient(left top, left bottom, color-stop(0%, #1578c9), color-stop(100%, #0b66b1));
                     background: -webkit-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: -o-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: -ms-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: linear-gradient(to bottom, #1578c9 0%, #0b66b1 100%);
                     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1578c9', endColorstr='#0b66b1', GradientType=0 );*/}
.ui-accordion .ui-accordion-header.ui-state-hover, .ui-accordion .ui-accordion-header.ui-state-active{background: #CFD8DC; color:#303030; border:solid 1px #6a6792 !important;
                                                                                                      /*background: -moz-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: -webkit-gradient(left top, left bottom, color-stop(0%, #0b66b1), color-stop(100%, #1578c9));
                                                                                                      background: -webkit-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: -o-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: -ms-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: linear-gradient(to bottom, #0b66b1 0%, #1578c9 100%);
                                                                                                      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b66b1', endColorstr='#1578c9', GradientType=0 );*/}
.ui-accordion-header .ui-icon-triangle-1-s{background-image:url("#{resource['primefaces-sentinel:images/downarrow-gray.svg']}"); }
.ui-accordion-header .ui-icon-triangle-1-e{background-image:url("#{resource['primefaces-sentinel:images/rightarrow-gray.svg']}"); }


.profileLeft {
    border-color: #8f7ead;
    background: linear-gradient(360deg, #fde9f0, #9490bb);
}
.profileBackColor{
    /* background-color: #e3e6e8;*/
    /*  background:linear-gradient(229deg, #f3c5f1, #f9f6f9); */
    background-color: #e5e1e8;

}
.profileLabelColor{
    color: #173e54 !important;
}
.profileButton span{
    background-color:#615f7d !important;
}
.profileLabelFormat{
    color: #565555;
}
.profileTitleFormat{
    color: #2e165a !important;
}
.labelFormat{
    color:#59576f;
}
.headerColor {
    color:#597976 !important;
}
.BtnOpenClose span{
    background-color: #bfc8cc !important;
    color: #6c7479 !important;
}

.dtbReport .groupRow
{
    background-color: #f1e7f6 !important;
    font-weight: bold;
}
.dtbReport .groupRow td{
    border: none !important;
}
.fupload .ui-fileupload-choose .ui-icon-plusthick, .fupload .ui-fileupload-simple .ui-icon-plusthick{
    background-image:url("#{resource['sentinel-layout:theme/images/plus-sign-deeppurple.svg']}") !important;
}

.deleteDatalist .ui-datalist-header{
    background-color: #8f5ab1 ;

}
.deleteDatalist .ui-datalist-content{
    border: solid 1px #8a5ab1 ; 
}

.ui-datatable .ui-datatable-summaryrow{
    background: rgba(121, 118, 156, 0.46);
}
.allcheck .ui-chkbox-box{
    border-color: #6a6792 !important;
}.allcheck .ui-chkbox-label{
    color:#303030 !important;
    font-weight: bold !important;
}.allCheckSeparator{
    border-color: #8f5ab1 !important;
}
.allCheckPanelGrid{
    border: solid 1px #8f5ab1 !important;
    background-color:#eceff1 !important; 
}
/*analizde pompa ikonu için*/
.ui-icon-pump{
    background-image: url("#{resource['sentinel-layout/theme/images/pump-deeppurple.png']}") !important;
}
.ui-icon-tank{
    background-image: url("#{resource['sentinel-layout/theme/images/tank-deeppurple.png']}") !important;
}
.ui-icon-setting{
    background-image: url("#{resource['sentinel-layout/theme/images/setting-deeppurple.png']}") !important;
}
.pump span{
    background-color: #cfd8dc;
    border-color: #cfd8dc !important;
}

.pump .ui-button-text{
    padding: 3px 15px 3px 3px !important;
    box-shadow: inset 0px 0px 0px 0px !important;
}
/*****************************/

/* Araç Takip Alanı */
.ui-icon-alarmT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/alarm/icon-alarm-greenPurple.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-lastLocationT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/lastlocation/icon-lastlocation-greenPurple.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-reportT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/report/icon-report-greenPurple.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-trackingT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/tracking/icon-tracking-greenPurple.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-userT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/user/icon-user-greenPurple.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-cameraT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/camera/icon-camera-greenPurple.png.xhtml?ln=sentinel-layout') !important;
}
.ui-bg{
    background-color: #79769c  !important;
}
.ui-bg-div{
    background-color: #7b789c !important;
}
.ui-colorButton{
    color: #79769c !important;
}
.ui-borderT{
    border: solid 1px #79769c;
    box-shadow: 5px 1px 15px -4px #78909c, -5px 1px 8px -4px #78909c;
    -moz-box-shadow: 5px 1px 15px -4px #78909c, -5px 1px 8px -4px #78909c;
    -webkit-box-shadow: 5px 2px 36px 3px #78909c, -6px 1px 8px -4px #78909c;
    border-radius: 6px;
}
.ui-selectonemenu-panel tr.ui-state-highlight td {
    background-color: #80bbb5 !important;
    color: #ffffff !important;
}
.ui-slider-handle{
    width:21px !important;
    height: 21px !important;
    cursor:move !important;
    border: solid 1px #79769c !important;
    -webkit-box-shadow: inset 0 0 0 1px #79769c !important;
    -moz-box-shadow:inset 0 0 0 1px #79769c !important;
    box-shadow: inset 0 0 0 1px #79769c !important;
    background: #cdd6de !important;
}
.timeSchedulingHour > input {
    border: 1px solid #79769c;
    margin-bottom: .29em;
}
.summaryPanelGrid tbody tr:first-child , .summaryPanelGrid tbody tr:first-child td{
    background-color: #ce84b2    !important;
    color: #ECEFF1 !important;
}
.summaryPanelGrid tbody tr td{
    border-color: #cfd8dc !important;
}
.summaryPanelGrid tbody tr:nth-child(even){
    background-color: #ECEFF1 !important;
}
.summaryPanelGrid tbody tr:nth-child(odd){
    background-color: #FFFFFF !important;
}

.oldRecordsToolbar .ui-chkbox-box{
    border-color: #8a5ab1 !important;
}

/* MAP SCREEN */

.filterDiv{    
    background-color: rgb(231, 230, 236) !important; 
    border: 1px solid rgb(91, 29, 142) !important;
}

.filterBtn:hover {
    background-color: rgb(222, 135, 192) !important;
}

.filterBtnChoose {
    background-color: rgb(222, 135, 192) !important;
}

.mapScreenFltBtnDiv{
    background-color: rgb(138, 90, 177) !important; 
    box-shadow: 0px 5px 17px -3px rgb(138, 90, 177);            
    -webkit-box-shadow: 0px 5px 17px -3px rgb(138, 90, 177);
    -moz-box-shadow: 0px 5px 17px -3px rgb(138, 90, 177);
}

.panelToggleRotate2.down{
    background-color: rgb(91, 29, 142) !important;
    border: 1px solid rgb(138, 90, 177) !important;
}

.mapScreenFltSelect .ui-corner-right{
    background-color: rgb(91, 29, 142) !important; 
}
.fltButton .ui-button-text{
    background-color: rgb(91, 29, 142) !important;
    color: #FFF !important;
}

.fltButton .ui-button-icon-left{
    color: #FFF !important;
}

.miniToolbarIcon:hover{
    background-color: rgb(222, 135, 192) !important
}

.miniToolbarIconChoose{
    background-color: rgb(222, 135, 192) !important
}

.mapScrennListBox{    
    background: rgb(138, 90, 177) !important;
    border: 2px solid rgb(91, 29, 142) !important;
}


/*ekle*/
.sdTitle{
    background-color: rgb(138, 90, 177) !important;
}

.sdOther i{ 
    color: rgb(138, 90, 177) !important;
}

#miniToolbar{
    background-color: rgb(138, 90, 177) !important;
}


.detailDiv{
    background-color: rgb(231, 230, 236) !important; 
    border: 1px solid rgb(91, 29, 142) !important;
}

.detailToolbarDiv{
    background-color: rgb(231, 230, 236) !important; 
}

.detailTitle{
    color: #FFF !important; 
    background-color: rgb(138, 90, 177) !important;
}

.dtlOpenClose{
    background-color: rgb(222, 135, 192) !important;
}

.ui-buttonset .ui-state-active .ui-button-text, .ui-buttonset .ui-state-focus .ui-button-text{
    background-color: rgb(222, 135, 192) !important;
}
.stationSupportNameDiv{
    background-color: #e7e6ec !important;
    border-bottom:solid 1px #4b6071;
    -moz-box-shadow: 0px 0px 5px 0px #4b6071;
    -webkit-box-shadow: 0px 0px 5px 0px #4b6071;
    box-shadow: 5px 0px 5px 0px #4b6071;
}
.pngCheckBox, .pngCheckBoxReport{
    border: solid 1px #C0C5C7 !important; 
}
.ui-panelgrid thead tr td, .ui-panelgrid tfoot tr td {
    color: #544869;
    background-color: #eff3f5;
    border: solid 1px #6d519c !important;
}
.divColorPanelGrid{
    background-color: rgb(206, 132, 178) !important; 
    border-color: #7b789c !important;
}
/************PCRD CSS*****************/
.pcrdProcess .ui-panel-titlebar{
    background-color: #70a9a3  !important;
}
.pcrdCard .ui-panel-titlebar{
    background-color: #5571bd !important;
}
.pcrdReport .ui-panel-titlebar{
    background-color: #dc8167 !important;
}
.pcrdDefinition .ui-panel-titlebar{
    background-color: #bf5271 !important;
}
.menuProcess .ui-panelmenu-content a:hover, .menuProcess .ui-panelmenu-header a:hover{
    color: #70a9a3 !important;
}
.menuCard .ui-panelmenu-content a:hover, .menuCard .ui-panelmenu-header a:hover{
    color: #5571bd !important;
}
.menuReport .ui-panelmenu-content a:hover, .menuReport .ui-panelmenu-header a:hover{
    color: #dc8167 !important;
}
.menuDefinition .ui-panelmenu-content a:hover, .menuDefinition .ui-panelmenu-header a:hover{
    color: #bf5271  !important;
}
.tooltipPcrd, .tooltipPcrd .ui-tooltip-text{
    background-color: #545b61 !important;
}
.tooltipPcrd .ui-tooltip-arrow{    
    border-color: #545b61 !important;

}
.tooltipPcrd .ui-tooltip-text{
    -webkit-box-shadow: 0px 0px 3px 0px #545b61 !important;
    -moz-box-shadow: 0px 0px 3px 0px #545b61 !important;
    box-shadow: 0px 0px 3px 0px #545b61 !important;
}
.ui-slider-handle{
    cursor: move !important;
    border: solid 1px #5282a7 !important;
    -webkit-box-shadow: inset 0 0 0 1px #26A3DB;
    -moz-box-shadow: inset 0 0 0 1px #26A3DB;
    box-shadow: inset 0 0 0 1px #5d8c87;
    background: #89c2bc; 
}
/***************************/

/******widget colors *****/

.widgetcolor{
    color:#79769c !important;
}

/*************************/
.tlbrIdUnitType{
    color: #6a6792 !important;
}
.outputTextRemainingAmount, .icnRemainingAmount{
    color: #70928e !important;;
}
@media print{
    .ui-datatable table tbody tr td, .ui-datatable table thead tr th{
        border: 1px solid gray !important;
    }
    .ui-datatable .ui-datatable-tablewrapper table thead tr th{
        color: #5a6268 !important;

    }
}

.btnStockTaking span{
    background-color: #6a6792;
    border-color: #6a6792 !important;
    color: #ECEFF1 !important;
}
.checkboxDarkBorder .ui-chkbox-box{
    border-color: #adadad !important
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label{
    color: #303030 !important;
}
.datatableLikeTree table tbody tr td{
    border-color: transparent !important;
}
.datatableLikeTree .ui-datatable-even, .datatableLikeTree .ui-datatable-odd{
    background-color: #efefef !important;
}
.datatableLikeTree .ui-datatable-tablewrapper table thead tr th{
    display: none;
}
.datatableLikeTree{
    border-color: #efefef !important;
    box-shadow: none;
    background-color: #efefef !important;
}
.datatableLikeTree .ui-datatable-tablewrapper table tbody .ui-state-highlight td, .datatableLikeTree .ui-datatable-tablewrapper table tbody .ui-state-hover td{
     background-color: #efefef !important;
     color: #303030 !important;
}
.checkboxtick .ui-panel-titlebar .ui-chkbox-box .ui-icon-check{
    background-image: url("#{resource['sentinel-layout:theme/images/check-deeppurple.svg']}") !important;
}