/**
 * GREEN - ORANGE temasının renk kodları
 *
 *
 * @author Merve Karakarcayildiz
 *
 * @date   8.09.2016 14:24:31
 */




/****************************************************************** GREEN - ORANGE  ********************************************************/

.ui-panel:not(.panelGridNoBorder){
    -moz-box-shadow: 0px 0px 5px 0px #78909C;
    -webkit-box-shadow: 0px 0px 5px 0px #78909C;
    box-shadow: 0px 0px 5px 0px #78909C;
} 


/* DASHBOARD */

/* Topbar */
#layout-header{
    background-color: #96ca8e!important;
    border-top-color: #36a962;
    border-bottom-color: #36a962;
    -moz-box-shadow: 0px 0px 5px 0px #00695C;
    -webkit-box-shadow: 0px 0px 5px 0px #00695C;
    box-shadow: 0px 0px 5px 0px #396d67;

}

/* Topbar Icon */
.layout-header-widgets > li{
    background-color:#887364!important;
}

.layout-header-widgets > li > a > i, .layout-header-widgets > li > i{
    color: #FFFFFF !important;
}

.footerVersion{    
    background-color: #d8edea !important;
}

.tooltip:before{    
    background-color: #716053!important;
    color: #ECEFF1;
}

.alertBubble{
    background-color: #EF6C00 !important;
    color: #ECEFF1;
}

/* Topbar Right Submenu */
.layout-header-widgets-submenu > li{
    background-color: #887364 !important;
    border-color: #004D40;    
}
.layout-header-widgets-submenu > li:hover{
    background-color:#887364 !important;
}

#sm-topmenu>li:focus,#sm-topmenu a:focus{
    background-color:#887364 !important;
}
.layout-header-widgets-submenu > li > a{
    text-decoration: none;
    color: #ffffff !important;
}
.layout-header-widgets-submenu{    
    background-image: url("#{resource['sentinel-layout:theme/images/popup-arrow-greenmile.png']}") !important;
}




/* BreadCrumb */

.cBreadCrumb{    
    background-color: #e8efee !important;
    border-bottom-color: #419679;
    -moz-box-shadow: 5px 0px 5px 0px #1f1f1f;
    -webkit-box-shadow: 5px 0px 5px 0px #1f1f1f;
    box-shadow: 5px 0px 5px 0px #1f1f1f;
}

.cBreadCrumb > ul > li > a > span{
    color: #00695C  !important;
}
.cBreadCrumb > ul > li > a > span:hover{
    color:#716053 !important;
}

.ui-breadcrumb .ui-icon-home{    
    background-image: url("#{resource['sentinel-layout:theme/images/breadcrumb-home-greenmile.svg']}") !important;    
}

.ui-breadcrumb-chevron{    
    background-image: url("#{resource['sentinel-layout:theme/images/breadcrumb-arrow-greenmile.svg']}") !important;
}

/* LEFT MENU */
#layout-menubar{
    background-color: #2b2514!important;
    -moz-box-shadow: 0px 0px 8px 0px #5a5a5a;
    -webkit-box-shadow: 0px 0px 8px 0px #5a5a5a;
    box-shadow: 0px 0px 8px 0px #5a5a5a;
}
#layout-menubar i{
    color: #b3ab8e !important;
}

#layout-menubar li:hover{
    background-color:  #2b2514!important;
}

#layout-menubar li > a {
    color: #ffffff !important;
    border-color: rgba(74, 169, 218, 0.17) !important;
}

#layout-menubar li > a:hover {
    color: #f5decd !important;
}




/* LeftMenu Search & Resize */
.leftSearchDiv{ border-bottom-color: rgba(74, 169, 218, 0.17) !important; }

.leftSearchDiv > input[type="text"] { color: #FFFFFF !important; } 

#searchArea:hover{
    background-color:#2b2514!important; 
}
.slimsearch:hover{
    background-color: #2b2514!important;
}
.slimsearch:hover i{
    color: #4cccc0 !important;
}

#layout-menubar-resize, #layout-menubar-resize2{
    background-color: rgb(43, 37, 20)!important;
    border: 0.5px solid rgba(61, 162, 219, 0.37) !important;
}


/* LeftMenu Scroll */

.sm_defaultcompany > ul::-webkit-scrollbar, .sm_modules > ul::-webkit-scrollbar{
    background-color: #ECEFF1 !important;
}

.sm_defaultcompany > ul::-webkit-scrollbar-thumb, .sm_modules > ul::-webkit-scrollbar-thumb{
    background-color:#96ca8e!important;
}

.MSScroll {
    scrollbar-base-color: #4cccc0 !important;
    scrollbar-track-color: #ECEFF1 !important;
    scrollbar-arrow-color: #4cccc0 !important;
}    




/* UI Panel */

.ui-panel{
    border-color: #989696 !important;
}
.ui-panel .ui-panel-titlebar {
    background-color: #3b846b!important;
    color: #FFFFFF !important;
    border-color: #74af9b !important;
}

.ui-panel .ui-panel-titlebar i{
    color: #FFFFFF !important;
}

.ui-panel .ui-panel-titlebar i:hover{
    color:#c1e2ce !important;
}


/* UI Panel Grid */
.ui-panelgrid{
    border-color: #3b846b !important
}


/* UI Menu */

.ui-panelmenu-header{
    background: none !important;
}

.ui-panelmenu-header a, .ui-panelmenu-content a {
    color: #303030 !important;    
}

.ui-panelmenu-header a:hover, .ui-panelmenu-content a:hover{
    color: #179283 !important
        background: none !important;
}

.ui-panel-titlebar .ui-chkbox-box .ui-icon-check{
    background-image: url("#{resource['sentinel-layout:theme/images/check-white.svg']}") !important;    
}



/* TOOLBAR */ 

.ui-toolbar{
    background-color: #CFD8DC !important;
    border-color: #2d887c !important;

}
.outputTextFont, .outputTextFontTab{
    color: #6c7479 !important;
}
.outputTextSelectedObject{
    color: #097164 !important;
}

.tlbrAddBtn{
    color: #69594c !important;
}

.tlbrFilterBtn{
    color: #5a5a5a !important;
}

.tlbrExcelBtn{
    color: #008641 !important;
}

.tlbrPdfBtn{
    color: #EF1011 !important;
}
.tlbrUploadBtn{
    color:#347a9e !important;
}
.tlbrColumnBtn{
    color: #5A5A5A !important;
}

.tlbrBackBtn{
    color: #69594c !important;
}

.tlbrSaveBtn{
    color: #097164 !important;
}

.tlbrDeleteBtn{
    color: #e90c45 !important;
}


.tlbrSearchInput, .tlbrSearchInputBook, .tlbrSearchInputDefinition, .tlbrSearchInputBookTopBar{
    border-color:#3b846b !important;
}


.tlbrIconMenu{
    color: #5A5A5A !important;
}

.tlbrSearchClear{
    color: #097164 !important;
}

.tlbrPanelToggle{
    color: #69594c !important;
}
.tlbrGraphicBtn{
    color: #d2b48c !important;
}




/* DATATABLE */

.ui-datatable{    
    border-color: #2d887c !important;
}

.ui-datatable-header{
    background-color: #3b846b !important;
}

.ui-datatable-header > span{
    color: #ffffff !important;
}

.ui-datatable-header i{
    color: #ffffff !important;
}

/* DataTable TBody */ 

.ui-datatable .ui-datatable-scrollable-header table thead tr th, .ui-datatable .ui-datatable-tablewrapper table thead tr th{    
    background-color: #3b846b !important;
    color: #ECEFF1 !important;
}

.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-hover, 
.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-active,
.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-hover i,
.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-active i{
    background-color:#3b846b !important;
    color: #ECEFF1 !important;
}


/* DataTable Table */

.ui-datatable table tbody tr td{
    color: #303030 !important;
    border-color:#cfd8dc !important;
}


.ui-datatable .ui-datatable-even, .treeBankAndBranch table tbody tr:nth-child(even){
    background-color: #ECEFF1 ;
}

.ui-datatable .ui-datatable-odd,.treeBankAndBranch table tbody tr:nth-child(odd){
    background-color: #FFFFFF ;
}

.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-hover td, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-hover td{
    background-color:rgba(150, 125, 107, 0.74) !important;
    color: #ffffff !important;
}

.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-highlight td, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-highlight td{
    background-color: #967d6b!important;
    color: #ffffff !important;
}

.ui-datatable table tr td a{
    color: #3da2db !important;
}

.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-highlight td a, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-hover td a,
.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-highlight td a, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-highlight td a{
    color: #ECEFF1 !important;
}

/* DataTable Paginator */
.ui-paginator {
    background-color: #3b846b !important;
}

.ui-paginator a{
    color: #FFFFFF !important;
    border-color: #ECEFF1 !important;
}

.ui-datatable .ui-paginator .ui-state-active{
    background-color: #846e5f !important;
}

.ui-datatable .ui-paginator .ui-state-hover{
    background-color: rgba(113, 96, 83, 0.63) !important;
}

.ui-paginator span{    
    color: #ECEFF1 !important;
}

.ui-paginator > select > option:checked, .ui-paginator > select > option:hover{
    background-color: #846e5f !important;
    color: #ECEFF1 !important;
}



/* Top Tabs */
.ui-tabs-top {
    border-color: #2d887c !important;
    background-color: #efefef !important;
}

.ui-tabs-top > div > ul.ui-tabs-nav {
    border-bottom-color: #3b846b !important;
    background: #e8efee !important;
}

.ui-tabs-top > div > ul.ui-tabs-nav > li > a {
    color: #545454 !important;    
}


.ui-tabs-top > div > .ui-tabs-nav li.ui-tabs-selected, 
.ui-tabs-top > div > .ui-tabs-nav li.ui-tabs-active, 
.ui-tabs-top > div > .ui-tabs-nav li.ui-state-hover{
    border-color: #2d887c !important;
    background-color: #efefef !important;
    border-bottom-color: transparent !important;
}

.ui-tabs-top > div > .ui-tabs-nav > li.ui-tabs-selected a, 
.ui-tabs-top > div > .ui-tabs-nav > li.ui-tabs-active a, 
.ui-tabs-top > div > .ui-tabs-nav > li.ui-state-hover a{
    color: #69594c !important;
}

.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn{
    -moz-box-shadow: inset 0 0 0 1px #097164!important;
    -webkit-box-shadow: inset 0 0 0 1px #097164!important;
    box-shadow: inset 0 0 0 1px #097164!important;
    background: #097164!important;
    border: solid 1px #00695C !important;
}



/* LEFT TABS */

.ui-tabs-left > ul.ui-tabs-nav > li > a {
    color: #545454 !important;    
}

.ui-tabs-left > .ui-tabs-nav > li.ui-state-hover a{
    color: #097164!important;
}


.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected{
    background-color: #3b846b !important;
}
.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected a{
    color: #FFFFFF !important;
}


/* Layout */
.ui-layout-unit-header{
    background-color: #607D8B !important;
    color: #607D8B !important;
}


/* Dialog */
.ui-dialog{
    border-color: #3e715f !important;
    -moz-box-shadow: 0px 0px 5px 0px #78909C !important;
    -webkit-box-shadow: 0px 0px 5px 0px #78909C !important;
    box-shadow: 0px 0px 5px 0px #78909C !important;
}


/* Overlay */
.ui-overlaypanel{
    border-color: #097164!important;
    -moz-box-shadow: 0px 0px 5px 0px #78909C !important;
    -webkit-box-shadow: 0px 0px 5px 0px #78909C !important;
    box-shadow: 0px 0px 5px 0px #78909C !important;
}




/* Form Object */

.divContent{
    border-color: #2d887c !important;

}
/* Book Input */
.iconPositionForBookFilter{
    color: #3c95c7 !important;
}
.bookColor{
    color:#097164!important;
}

/* Input Object */
.ui-inputfield.ui-state-hover, .ui-inputfield.ui-state-focus{
    border-color: #097164 !important;
    color: #303030;
}

.ui-inputfield{
    color: #303030 !important;
}

.ui-outputlabel{
    color: #5a5a5a !important;
}


/* Select Form Object*/
.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
    background:  #69594c !important;
    border-color:  #097164 !important;
    -webkit-box-shadow: inset 0px 0px 5px 0px #78909C !important;
    -moz-box-shadow: inset 0px 0px 5px 0px #78909C !important;
    box-shadow: inset 0px 0px 5px 0px #78909C !important;
}

.ui-selectonemenu.ui-state-focus,
.ui-selectcheckboxmenu.ui-state-focus,
.ui-paginator-page.ui-state-focus,
.ui-paginator-next.ui-state-focus,
.ui-paginator-prev.ui-state-focus,
.ui-paginator-last.ui-state-focus,
.ui-paginator-first.ui-state-focus,
.ui-paginator-rpp-options.ui-state-focus{
    border-color: #78909C !important; 
}

.ui-selectonemenu-panel{
    border-color: #78909C !important;
    color: #097164 !important;
}

.ui-selectonemenu-panel .ui-state-highlight {
    color: #2f739a !important;
}
.ui-selectcheckboxmenu-panel{
    border: solid 0.5px #097164 !important;
}


/* Button */
.pgrToButton{
    background-color: #69594c !important;
}
.ui-button span{
    background-color: #69594c;
    border-color: #3b846b !important
        color: #ECEFF1 !important;
}

.ui-button .ui-button-text{    
    -webkit-box-shadow:  inset 0px 0px 5px 0px #78909C !important;
    -moz-box-shadow:  inset 0px 0px 5px 0px #78909C !important;
    box-shadow:  inset 0px 0px 5px 0px #78909C !important; 
}
/*
.ui-button.ui-state-active .ui-button-text{
    background: #009688 !important;
}
*/

/* Steps */

.ui-steps .ui-state-highlight{
    background-color: #43866e  !important;
}

.ui-steps .ui-steps-item .ui-steps-number{
    border-color: #097164 !important;
    background-color: #3e715f !important;
}




/* PickList */

.ui-picklist .ui-widget-header{
    border-color: #3b846b !important;
    border-top-color: #3b846b !important;
    border-bottom-color: #3b846b !important;
    background-color: #3b846b !important;
    color: #ECEFF1 !important;
}



.ui-picklist-list i{
    color:#3da2db !important;
}




.ui-picklist-item td{
    color: #303030 !important;
}

.ui-picklist .ui-sortable li{
    background-color: #fbfcfd !important;
}



.ui-picklist .ui-picklist-list .ui-state-hover{ 
    background-color: rgba(150, 125, 107, 0.74) !important;
}

.ui-picklist .ui-picklist-list .ui-state-highlight{
    background-color:#967d6b!important;
}

.ui-picklist .ui-picklist-list .ui-state-hover td, .ui-picklist .ui-picklist-list .ui-state-highlight td{
    color: #ECEFF1 !important;
}

.ui-picklist .ui-picklist-list .ui-state-hover td i, .ui-picklist .ui-picklist-list .ui-state-highlight td i{
    color: #ECEFF1 !important;
}




/* Tree Menu */

.ui-tree{
    color: #303030 !important;
}

.ui-tree .ui-treenode .ui-treenode-label.ui-state-hover{
    color: #097164 !important;
}

.ui-tree .ui-chkbox .ui-state-hover, .ui-chkbox .ui-state-focus{
    border-color: #097164 !important;
}


/* Checkbox */
.ui-chkbox .ui-chkbox-box{
    border-color: #cfd8dc !important;
}
.communicationcheckbox .ui-chkbox-box{
    border-color: #4cccc0 !important;
}
.ui-chkbox .ui-state-hover, .ui-chkbox .ui-state-focus{
    border-color: #239082  !important;
}
.ui-chkbox-box .ui-icon-check, .authorizationPage .ui-treenode-content .ui-chkbox-box .ui-icon-minus{
    background-image: url("#{resource['sentinel-layout:theme/images/check-greenmile.svg']}") !important;
}

.ui-chkbox-box .ui-icon-closethick{
    background-image: url("#{resource['sentinel-layout:theme/images/closethick-greenmile.svg']}") !important;
    background-size: 100%;
    background-position: center;
}

/* Datepicker */
.ui-datepicker-header {
    border-color: #b6d1e4 !important;
    background-color: #96ca8e !important;
}

.ui-datepicker-title select{
    border-color: #ECEFF1 !important;
    background-color: #96ca8e !important;
}

.ui-timepicker-select{
    background-color: #96ca8e !important;
}

.ui-datepicker-calendar thead th {
    background-color: #B0BEC5 !important;
    color: #ECEFF1 !important;
}

.ui-datepicker-calendar thead .ui-datepicker-week-end{
    background-color: #96ca8e !important;
    color: #ECEFF1 !important;
}

.ui-datepicker-header .ui-datepicker-prev-hover, .ui-datepicker-header .ui-datepicker-next-hover{
    background-color: #96ca8e  !important;
}

.ui-datepicker-current-day, .ui-datepicker-current-day a{    
    border-color: #96ca8e !important;
    color: #097164   !important;
}

.ui-datepicker-calendar tbody td:hover, .ui-datepicker-calendar tbody td:hover a{
    border-color: #097164  !important;
    color: #2c84b1 !important;
}

.ui-datepicker-buttonpane button{
    background-color: #96ca8e  !important;
    border-color: #B0BEC5 !important;
    color: #ECEFF1 !important;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-today a{
    color:#303030 !important;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-today{
    border-color:#96ca8e !important;
}

/********Fieldset*********/

.tlbrRefreshBtn{
    color: #008641 !important;
}
.tlbrSearchBtn{
    color: #EF1011 !important;
}
.fltrPlusBtn{
    color: #3c95c7  !important;
}

/*Panel Group*/
.categoryOutputText{
    border-color: #3b846b !important;
    background-color: #e8efee !important;
    color: #303030 !important;
}
.districtOutputText{
    border-color: #00695c !important;
    background-color: #097164!important;
    color: #eceff1 !important;  
}
.ui-fileupload-choose{
    background-color: #097164 !important; 
}

/*** MESSAGE CSS ******/
.messageContent .ui-icon{
    color: #3b846b !important;
}

/*** MENUBAR CSS ******/
.ui-menu{border:solid 1px #3b846b; background-color: #FBFCFD; color: #2c84b1;}
.ui-menu:hover, .ui-menu:focus{border:solid 1px #3b846b;}
.ui-menu{border-radius: 5px 5px 5px 5px;}

/*** MESSAGE LI TEXT CSS******/
.layout-header-widgets-submenu li{background-color:#326f5a !important;}
.layout-header-widgets-submenu li > a{ text-decoration: none; color: #ffffff !important; }

/*** CHATBOX TOOLTIP CSS******/
a.tooltip:hover span{
    color:#fff !important;
    border:#DCA !important; 
    background:#00695C !important; 
}

/*CSS3 extras*/
a.tooltip span
{
    box-shadow:#CCC;
}
.layout-header-widgets-submenu li > a{ text-decoration: none; color: #ffffff !important;}


/************   CHAT CSS   ************/

.rightusername{
    background-color: #097164!important;
    color: #FFF !important;
}

.chatminimize{
    background-color:#097164!important;
    color: #FFF !important;
}

.chatclose{
    background-color: #097164!important;
    color: #FFF !important;
}

.msgSend{
    background-color: #097164!important;
    color: #FFF !important;
}

.gidenmesaj{
    background-color: #097164!important;
    color: #FFF !important;
    border-color: #FFF !important;
}

.chatboxleft{
    background-color: #798086 !important; 
    color: #FFF !important;
    border-color: #FFF !important;
}
/************   AUTOCOMPLETE   ************/
.ui-autocomplete-panel{
    background-color: #ECEFF1 !important;
}

.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item {
    color: #303030 !important;
    border-bottom-color: #097164!important;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-state-highlight{
    color: #FFFFFF !important;
    background-color: #519dc7 !important;
}



/********** TREETABLE *****/

.ui-treetable {
    border-color:#3b846b!important;
}

/* TreeTable TBody */ 

.ui-treetable table thead tr th{
    background-color: #3b846b!important;
    color: #ECEFF1 !important;

}
/* TreeTable */

.ui-treetable table tbody tr td{
    color: #303030 !important;
    border-color:#cfd8dc !important;
    font-weight: normal;
}

.ui-treetable table tbody .ui-state-hover td{
    background-color: rgba(150, 125, 107, 0.74) !important;
    color: #ECEFF1 !important;
}
.ui-treetable table tbody .ui-state-highlight td{
    background-color: #967d6b!important;
    color: #ECEFF1 !important;

}

.ui-treetable table tbody tr td a{
    color:#3b846b!important ;
}

.ui-treetable table tbody .ui-state-hover td a,
.ui-treetable table tbody .ui-state-highlight td a{
    color:#3da2db !important;
}

.categoryTreeSize table tbody .ui-state-hover td,
.categoryTreeSize table tbody .ui-state-highlight td{
    color: #303030 !important;
    background-color:#efefef !important; 
}


.ui-selectoneradio label {
    color:#303030 !important;
}
.ui-selectmanycheckbox label{
    color:#303030 !important;
}
.slcBranchSettings label{
    color: #72828B !important;
}
.ui-radiobutton .ui-state-active .ui-icon-bullet, .ui-radiobutton .ui-state-focus .ui-icon-bullet {
    background-image: url("#{resource['sentinel-layout:theme/images/radio-on-greenmile.svg']}") !important;
}
.ui-radiobutton .ui-state-hover, .ui-radiobutton .ui-state-focus {
    border-color: #097164!important;
}
.ui-inputswitch-handle {
    border-color: #097164!important;
    -webkit-box-shadow:  inset 0 0 0 1px #097164!important;
    -moz-box-shadow:  inset 0 0 0 1px 0px #097164!important;
    box-shadow:  inset 0 0 0 1px #097164!important;
    background: #097164!important;
}
.ui-inputswitch:hover, .ui-inputswitch:focus{
    border-color: #097164!important;
}
.ui-inputswitch{
    color: #303030 !important
}

/* selectManyButton */
.selectManyButton > div > span{
    background-color: #3b846b !important;
    border-color: #097164!important;
    color: #FFFFFF !important; 
}
.selectManyButton > div > span:hover{
    background-color: #519dc7 !important;
    border-color: #097164!important;
    color: #FFFFFF !important; 
}
.selectManyButton > .ui-state-active > span{
    background-color: #00695C !important;
    border-color: #00695C !important
        color: #FFFFFF !important; 
}

/*    tree horizontal   */

/*.ui-tree-horizontal .ui-treenode .ui-state-hover{
    border: solid 1px #009688 !important;
}

.ui-tree-horizontal .ui-treenode .ui-state-highlight{
    border: solid 1px #009688 !important;
    background-color: #009688 !important; 
}*/
.ui-datagrid .ui-paginator .ui-state-active{
    background-color: #3782ad !important; 
}
.ui-datagrid .ui-paginator .ui-state-hover{
    background-color: #3782ad !important; 
}
.changeBtn{
    color: #D2B48C !important;
}
.ui-datascroller .ui-datascroller-header{
    background-color: #3b846b;
}
.ui-menu .ui-state-hover .ui-menuitem-link{
    color:#097164!important;
}
.ui-datatable .ui-datatable-tablewrapper table tfoot tr td, .ui-datatable-resizable tfoot td{
    background-color: #dae2e1 !important;
}
.searchİcon{
    color: #d2b48c !important
}
.allİconColor{
    color:#308e85 !important;
}
.allİcons{
    color:#c77f40 !important
}
.ui-datatable .ui-datatable-scrollable-header{
    background-color:#3b846b!important ;
}
.ui-tooltip{   
    background-color: #00695C !important;
    color: #ECEFF1;
}

.ui-tooltip .ui-tooltip-text{    
    background-color: #00695C !important;

}
.ui-tooltip .ui-tooltip-arrow{    
    border-top-color: #00695C !important;

}

.ui-accordion{border:solid 1px#3b846b!important;}
.ui-accordion:hover{border:solid 1px#3b846b!important ;}
.ui-accordion-header{color:#303030; border:solid 1px#3b846b!important ;
                     background: #CFD8DC;
                     /*background: -moz-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: -webkit-gradient(left top, left bottom, color-stop(0%, #1578c9), color-stop(100%, #0b66b1));
                     background: -webkit-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: -o-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: -ms-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: linear-gradient(to bottom, #1578c9 0%, #0b66b1 100%);
                     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1578c9', endColorstr='#0b66b1', GradientType=0 );*/}
.ui-accordion .ui-accordion-header.ui-state-hover, .ui-accordion .ui-accordion-header.ui-state-active{background: #CFD8DC; color:#303030; border:solid 1px#3b846b!important ;
                                                                                                      /*background: -moz-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: -webkit-gradient(left top, left bottom, color-stop(0%, #0b66b1), color-stop(100%, #1578c9));
                                                                                                      background: -webkit-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: -o-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: -ms-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: linear-gradient(to bottom, #0b66b1 0%, #1578c9 100%);
                                                                                                      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b66b1', endColorstr='#1578c9', GradientType=0 );*/}
.ui-accordion-header .ui-icon-triangle-1-s{background-image:url("#{resource['primefaces-sentinel:images/downarrow-gray.svg']}"); }
.ui-accordion-header .ui-icon-triangle-1-e{background-image:url("#{resource['primefaces-sentinel:images/rightarrow-gray.svg']}"); }


.profileLeft {
    border-color: #75a56d;
    background: linear-gradient(350deg, #b3ac95, #96ca8e);
}
.profileBackColor{
    /* background-color: #e3e6e8;*/
    /*background: linear-gradient(229deg, #70c1b1, #f9f6f9);*/
    background-color:#e7f5df !important;

}
.profileLabelColor{
    color: #173e54 !important;
}
.profileButton span{
    background-color: #34735e !important;
}
.profileLabelFormat{
    color: #565555;
}
.profileTitleFormat{
    color: #253b4c;
}
.labelFormat{
    color: #28505d;
}
.headerColor {
    color: #253b4c !important;
}
.ui-outputlabel, table tbody tr td {
    color: #355269;
    font-weight: normal;
}
.BtnOpenClose span{
    background-color: #bfc8cc !important;
    color: #6c7479 !important;
}
.dtbReport .groupRow
{
    background-color: #e0f2f1 !important;
    font-weight: bold;
}
.dtbReport .groupRow td{
    border: none !important;
}
.fupload .ui-fileupload-choose .ui-icon-plusthick, .fupload .ui-fileupload-simple .ui-icon-plusthick{
    background-image:url("#{resource['sentinel-layout:theme/images/plus-sign-greenmile.svg']}") !important;
}

.deleteDatalist .ui-datalist-header{
    background-color: #3b846b;


}
.deleteDatalist .ui-datalist-content{
    border: solid 1px #097164!important;
}

.ui-datatable .ui-datatable-summaryrow{
    background: #bae8b2;
}
   

/* Araç Takip Alanı */
.ui-icon-alarmT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/alarm/icon-alarm-greenMile.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-lastLocationT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/lastlocation/icon-lastlocation-greenMile.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-reportT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/report/icon-report-greenMile.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-trackingT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/tracking/icon-tracking-greenMile.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-userT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/user/icon-user-greenMile.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-cameraT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/camera/icon-camera-greenMile.png.xhtml?ln=sentinel-layout') !important;
}
.ui-bg{
    background-color: #887364 !important;
}
.ui-bg-div{
    background-color: #96ca8e !important;
}
.ui-colorButton{
    color: #887364 !important;
}
.ui-borderT{
    border: solid 1px #887364;
    box-shadow: 5px 1px 15px -4px #78909c, -5px 1px 8px -4px #78909c;
    -moz-box-shadow: 5px 1px 15px -4px #78909c, -5px 1px 8px -4px #78909c;
    -webkit-box-shadow: 5px 2px 36px 3px #78909c, -6px 1px 8px -4px #78909c;
}
.ui-selectonemenu-panel tr.ui-state-highlight td {
    background-color: #967d6b!important;
    color: #ffffff !important;
}
.ui-slider-handle{
    width:21px !important;
    height: 21px !important;
    cursor:move !important;
    border: solid 1px #887364 !important;
    -webkit-box-shadow: inset 0 0 0 1px #887364  !important;
    -moz-box-shadow:inset 0 0 0 1px #887364 !important;
    box-shadow: inset 0 0 0 1px #887364  !important;
    background: #cdd6de !important;
}
.timeSchedulingHour > input {
    border: 1px solid #887364;
    margin-bottom: .29em;
}
.allcheck .ui-chkbox-box{
    border-color: #000000  !important;
}.allcheck .ui-chkbox-label{
    color:#000000 !important;
    font-weight: bold !important;
}.allCheckSeparator{
    border-color: #3b846b !important;
}
.allCheckPanelGrid{
    border: solid 1px#3b846b !important;
    background-color:#eceff1 !important; 
}
/*analizde pompa ikonu için*/
.ui-icon-pump{
    background-image: url("#{resource['sentinel-layout/theme/images/pump-green.png']}") !important;
}
.ui-icon-tank{
    background-image: url("#{resource['sentinel-layout/theme/images/tank-green.png']}") !important;

}
.ui-icon-setting{
    background-image: url("#{resource['sentinel-layout/theme/images/setting-green.png']}") !important;
}

.pump span{
    background-color: #cfd8dc;
    border-color: #cfd8dc !important;
}

.pump .ui-button-text{
    padding: 3px 15px 3px 3px !important;
    box-shadow: inset 0px 0px 0px 0px !important;
}
/*****************************/
.summaryPanelGrid tbody tr:first-child , .summaryPanelGrid tbody tr:first-child td{
    background-color: #3b846b  !important;
    color: #ECEFF1 !important;
}
.summaryPanelGrid tbody tr td{
    border-color: #cfd8dc !important;
}
.summaryPanelGrid tbody tr:nth-child(even){
    background-color: #ECEFF1 !important;
}
.summaryPanelGrid tbody tr:nth-child(odd){
    background-color: #FFFFFF !important;
}
.oldRecordsToolbar .ui-chkbox-box{
    border-color: #097164!important;
}


/* MAP SCREEN */

.filterDiv{    
    background-color: #e8efee !important;
    border: 1px solid #00695c !important;
}

.filterBtn:hover {
    background-color: #967d6b !important;
}

.filterBtnChoose {
    background-color: #519dc7 !important;
}

.mapScreenFltBtnDiv{
    background-color: #009688 !important; 
    box-shadow: 0px 5px 17px -3px #009688;            
    -webkit-box-shadow: 0px 5px 17px -3px #009688;
    -moz-box-shadow: 0px 5px 17px -3px #009688;
}

.panelToggleRotate2.down{
    background-color: #716053 !important;
}

.mapScreenFltSelect .ui-corner-right{
    background-color: #00695c !important; 
}
.fltButton .ui-button-text{
    background-color: #00695c !important;
    color: #FFF !important;
}

.fltButton .ui-button-icon-left{
    color: #FFF !important;
}

.miniToolbarIcon:hover{
    background-color: #967d6b !important;
}

.miniToolbarIconChoose{
    background-color:#967d6b !important;
}

.mapScrennListBox{    
    background: #097164!important;
    border: 2px solid #00695c !important;
}

.sdTitle{
    background-color: #009688 !important;
}

.sdOther i{
    color: #009688 !important;
}

#miniToolbar{
    background-color: #009688 !important;
}

.detailDiv{
    background-color: #e0f2f1 !important;
    border: 1px solid #00695c !important;
}

.detailToolbarDiv{
    background-color: #e0f2f1 !important; 
}

.detailTitle{
    color: #FFF !important; 
    background-color: #009688 !important;
}

.dtlOpenClose{
    background-color: #69594c !important;
}



.ui-buttonset .ui-state-active .ui-button-text, .ui-buttonset .ui-state-focus .ui-button-text{
    background-color: #009688 !important;  
}

.ui-panelgrid thead tr td, .ui-panelgrid tfoot tr td {
    color: #5f6467;
    background-color: #eff3f5;
    border: solid 1px#3b846b!important ;
}

.stationSupportNameDiv{
    border-bottom: 1px solid #419679 !important;
    background-color: #e8efee !important;
    -moz-box-shadow: 5px 0px 5px 0px #1f1f1f;
    -webkit-box-shadow: 5px 0px 5px 0px #1f1f1f;
    box-shadow: 5px 0px 5px 0px #1f1f1f;

}
.pngCheckBox, .pngCheckBoxReport{
    border: solid 1px #C0C5C7 !important; 
}
.divColorPanelGrid{
    background-color: #3b846b !important;   
    border-color: #2d887c  !important;
}
/************PCRD CSS*****************/
.pcrdProcess .ui-panel-titlebar{
    background-color: #70a9a3  !important;
}
.pcrdCard .ui-panel-titlebar{
    background-color: #5571bd !important;
}
.pcrdReport .ui-panel-titlebar{
    background-color: #dc8167 !important;
}
.pcrdDefinition .ui-panel-titlebar{
    background-color: #bf5271 !important;
}
.menuProcess .ui-panelmenu-content a:hover, .menuProcess .ui-panelmenu-header a:hover{
    color: #70a9a3 !important;
}
.menuCard .ui-panelmenu-content a:hover, .menuCard .ui-panelmenu-header a:hover{
    color: #5571bd !important;
}
.menuReport .ui-panelmenu-content a:hover, .menuReport .ui-panelmenu-header a:hover{
    color: #dc8167 !important;
}
.menuDefinition .ui-panelmenu-content a:hover, .menuDefinition .ui-panelmenu-header a:hover{
    color: #bf5271  !important;
}
.tooltipPcrd, .tooltipPcrd .ui-tooltip-text{
    background-color: #545b61 !important;
}
.tooltipPcrd .ui-tooltip-arrow{    
    border-color: #545b61 !important;

}
.tooltipPcrd .ui-tooltip-text{
    -webkit-box-shadow: 0px 0px 3px 0px #545b61 !important;
    -moz-box-shadow: 0px 0px 3px 0px #545b61 !important;
    box-shadow: 0px 0px 3px 0px #545b61 !important;
}
/*************************************/


/******widget colors *****/

.widgetcolor{
    color:#887364 !important;
}

/*************************/
.tlbrIdUnitType{
    color: #846e5f !important;
}
.outputTextRemainingAmount, .icnRemainingAmount{
    color: #688359 !important;;
}
@media print{
    .ui-datatable table tbody tr td, .ui-datatable table thead tr th{
        border: 1px solid gray !important;
    }
    .ui-datatable .ui-datatable-tablewrapper table thead tr th{
        color: #5a6268 !important;

    }
}

.btnStockTaking span{
    background-color: #69594c;
    border-color: #3b846b !important
        color: #ECEFF1 !important;
}
.checkboxDarkBorder .ui-chkbox-box{
    border-color: #adadad !important
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label{
    color: #303030 !important;
}
.datatableLikeTree table tbody tr td{
    border-color: transparent !important;
}
.datatableLikeTree .ui-datatable-even, .datatableLikeTree .ui-datatable-odd{
    background-color: #efefef !important;
}
.datatableLikeTree .ui-datatable-tablewrapper table thead tr th{
    display: none;
}
.datatableLikeTree{
    border-color: #efefef !important;
    box-shadow: none;
    background-color: #efefef !important;
}
.datatableLikeTree .ui-datatable-tablewrapper table tbody .ui-state-highlight td, .datatableLikeTree .ui-datatable-tablewrapper table tbody .ui-state-hover td{
     background-color: #efefef !important;
     color: #303030 !important;
}

.checkboxtick .ui-panel-titlebar .ui-chkbox-box .ui-icon-check{
    background-image: url("#{resource['sentinel-layout:theme/images/check-greenmile.svg']}") !important;
}