/**
 * SoftBlue
 * Murat Dincer 07.10.2016
 */

.ui-panel:not(.panelGridNoBorder){
    -moz-box-shadow: 0px 0px 5px 0px #78909C;
    -webkit-box-shadow: 0px 0px 5px 0px #78909C;
    box-shadow: 0px 0px 5px 0px #78909C;
} 


/* DASHBOARD */

/* Topbar */
#layout-header{
    background-color: #88BDE0 !important;
    border-top-color: #094473;
    border-bottom-color: #094473;
    -moz-box-shadow: 0px 0px 5px 0px #78909C;
    -webkit-box-shadow: 0px 0px 5px 0px #78909C;
    box-shadow: 0px 0px 5px 0px #78909C;
}

/* Topbar Icon */
.layout-header-widgets > li{
    background-color: #035192 !important;
}

.footerVersion{    
    background-color: #b6d1e4 !important;
}

.layout-header-widgets > li > a > i, .layout-header-widgets > li > i{
    color: #FFFFFF !important;
}

.tooltip:before{    
    background-color: #035192 !important;
    color: #ECEFF1;
}

.alertBubble{
    background-color: #FF0000 !important;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 10px !important;
}

/* Topbar Right Submenu */
.layout-header-widgets-submenu > li{
    background-color: #3D7AA2 !important;
    border-color: #1A5D89;    
}
.layout-header-widgets-submenu > li:hover{
    background-color: #003C63 !important;
}

#sm-topmenu>li:focus,#sm-topmenu a:focus{
    background-color: #3D7AA2 !important;
}
.layout-header-widgets-submenu > li > a{
    text-decoration: none;
    color: #ECEFF1 !important;
}

.layout-header-widgets-submenu{    
    background-image: url("#{resource['sentinel-layout:theme/images/popup-arrow-softblue.png']}") !important;
}




/* BreadCrumb */

.cBreadCrumb{    
    background-color: #b6d1e4 !important;
    border-bottom-color: #78909C;
    -moz-box-shadow: 5px 0px 5px 0px #78909C;
    -webkit-box-shadow: 5px 0px 5px 0px #78909C;
    box-shadow: 5px 0px 5px 0px #78909C;
}

.cBreadCrumb > ul > li > a > span{
    color: #003C63 !important;
}
.cBreadCrumb > ul > li > a > span:hover{
    color: #000000 !important;
}

.ui-breadcrumb .ui-icon-home{    
    background-image: url("#{resource['sentinel-layout:theme/images/breadcrumb-home-bluedanger.svg']}") !important;    
}

.ui-breadcrumb-chevron{    
    background-image: url("#{resource['sentinel-layout:theme/images/breadcrumb-arrow-bluedanger.svg']}") !important;
}

/* LEFT MENU */
#layout-menubar{
    background-color: #003C63 !important;
    -moz-box-shadow: 0px 0px 8px 0px #5a5a5a;
    -webkit-box-shadow: 0px 0px 8px 0px #5a5a5a;
    box-shadow: 0px 0px 8px 0px #5a5a5a;
}
#layout-menubar i{
    color: #71EDFF !important; 
}

#layout-menubar li:hover{
    background-color: #003C63 !important;  
}

#layout-menubar li > a{
    color: #ECEFF1 !important;    
    border-color: #5a5a5a !important;
}

#layout-menubar li > a:hover{
    color: #FFD100 !important; 
    /*font-weight: bold; */
}




/* LeftMenu Search & Resize */
.leftSearchDiv{ border-bottom-color: #5a5a5a !important; }

.leftSearchDiv > input[type="text"] { color: #FFFFFF !important; } 

#searchArea:hover{
    background-color: #303030 !important;  
}
.slimsearch:hover{
    background-color: #303030 !important;
}
.slimsearch:hover i{
    color: #FFD100 !important;
}

#layout-menubar-resize, #layout-menubar-resize2{
    background-color: #2B2B2B !important;    
    border: 0.5px solid #5A5A5A !important;
}


/* LeftMenu Scroll */

.sm_defaultcompany > ul::-webkit-scrollbar, .sm_modules > ul::-webkit-scrollbar{
    background-color: #ECEFF1 !important;
}

.sm_defaultcompany > ul::-webkit-scrollbar-thumb, .sm_modules > ul::-webkit-scrollbar-thumb{
    background-color: #71EDFF !important;
}

.MSScroll {
    scrollbar-base-color: #71EDFF !important;
    scrollbar-track-color: #ECEFF1 !important;
    scrollbar-arrow-color: #FFD100 !important;
}    




/* UI Panel */

.ui-panel{
    border-color: #989696 !important;
}
.ui-panel .ui-panel-titlebar{
    background-color: #2275AB !important;
    color: #FFFFFF !important;
    border-color: #0f446c !important;
}

.ui-panel .ui-panel-titlebar i{
    color: #ECEFF1 !important;
}

/* UI Panel Grid */
.ui-panelgrid{
    border-color: #2c84b1 !important;
}


/* UI Menu */

.ui-panelmenu-header{
    background: none !important;
}

.ui-panelmenu-header a, .ui-panelmenu-content a { /*PANEL MENU ICINDEKI YAZILAR*/
    color: #101010 !important; 
    background: none !important;
}

.ui-panelmenu-header a:hover, .ui-panelmenu-content a:hover{
    color: #FF0000 !important;
    background: none !important;
}

.ui-panel-titlebar .ui-chkbox-box .ui-icon-check{
    background-image: url("#{resource['sentinel-layout:theme/images/check-white.svg']}") !important;    
}



/* TOOLBAR */ 

.ui-toolbar{
    background-color: #C3DEF1 !important;
    border-color: #2c84b1 !important;
}

.outputTextFont, .outputTextFontTab{
    color: #035192 !important;
}
.outputTextSelectedObject{
    color: #101010  !important;
}

.tlbrAddBtn{
    color: #003C63 !important;
}

.tlbrFilterBtn{
    color: #003C63 !important;
}

.tlbrExcelBtn{
    color: #008641 !important;
}

.tlbrPdfBtn{
    color: #EF1011 !important;
}
.tlbrUploadBtn{
    color:#347a9e !important;
}

.tlbrColumnBtn{
    color: #5A5A5A !important;
}

.tlbrBackBtn{
    color: #003C63 !important;
}

.tlbrSaveBtn{
    color: #00631A !important;
}

.tlbrDeleteBtn{
    color: #e90c45 !important;
}

.tlbrSearchInput, .tlbrSearchInputBook, .tlbrSearchInputDefinition, .tlbrSearchInputBookTopBar{
    border-color: #0f446c !important; 
}

.tlbrIconMenu{
    color: #5A5A5A !important;
}

.tlbrSearchClear{
    color: #2c84b1 !important; 
}

.tlbrPanelToggle{
    color: #316996 !important;
}
.tlbrGraphicBtn{
    color: #ef9444 !important;
}





/* DATATABLE */

.ui-datatable{    
    border-color: #2c84b1 !important;
}

.ui-datatable-header{
    background-color: #003C63 !important;
}

.ui-datatable-header > span{
    color: #ffffff !important;
}

.ui-datatable-header i{
    color: #ffffff !important;
}

/* DataTable TBody */ 

.ui-datatable .ui-datatable-scrollable-header table thead tr th, .ui-datatable .ui-datatable-tablewrapper table thead tr th{    
    background-color: #88BDE0 !important;
    color: #FFFFFF !important;
    border-color:#2c84b1 !important;
}

.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-hover, 
.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-active,
.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-hover i,
.ui-datatable .ui-datatable-tablewrapper table thead tr th.ui-state-active i{
    background-color: #9BF2FF !important;
    color: #000000 !important;
}


/* DataTable Table */

.ui-datatable table tbody tr td{
    color: #303030 !important;
    border-color:#cfd8dc !important;
    font-weight: normal;
}


.ui-datatable .ui-datatable-even, .treeBankAndBranch table tbody tr:nth-child(even){
    background-color: #ECF7FF ;
}

.ui-datatable .ui-datatable-odd, .treeBankAndBranch table tbody tr:nth-child(odd){
    background-color: #FFFFFF ;
}

.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-hover td, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-hover td{
    background-color: #8EF0FF !important;
    color: #000000 !important;
}

.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-highlight td, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-highlight td{
    background-color: #8EDEFF !important;
    color: #000000 !important;
}

.ui-datatable table tr td a{
    color: #2c84b1 !important;
}

.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-highlight td a, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-hover td a,
.ui-datatable .ui-datatable-scrollable-body table tbody .ui-state-highlight td a, .ui-datatable .ui-datatable-tablewrapper table tbody .ui-state-highlight td a{
    color: #ECEFF1 !important;
}

/* DataTable Paginator */
.ui-paginator {
    background-color: #88BDE0 !important;       
}

.ui-paginator a{
    color: #FFFFFF !important;
    border-color: #ECEFF1 !important;
}

.ui-datatable .ui-paginator .ui-state-active{
    background-color: #003C63 !important; 
}

.ui-datatable .ui-paginator .ui-state-hover{
    background-color: #003C63 !important; 
}

.ui-paginator span{    
    color: #202020 !important;
}

.ui-paginator > select > option:checked, .ui-paginator > select > option:hover{
    background-color: #e90c45 !important;
    color: #ECEFF1 !important;
}



/* Top Tabs */
.ui-tabs-top {
    border-color: #b6d1e4 !important;
    background-color: #efefef !important;
}

.ui-tabs-top > div > ul.ui-tabs-nav {
    border-bottom-color: #0f446c !important;
    background: #b6d1e4 !important;
}

.ui-tabs-top > div > ul.ui-tabs-nav > li > a {
    color: #101010 !important;    
}


.ui-tabs-top > div > .ui-tabs-nav li.ui-tabs-selected, 
.ui-tabs-top > div > .ui-tabs-nav li.ui-tabs-active, 
.ui-tabs-top > div > .ui-tabs-nav li.ui-state-hover{
    background-color: #efefef !important;
    border-color: #0f446c !important;
    border-bottom-color: transparent !important;
}

.ui-tabs-top > div > .ui-tabs-nav > li.ui-tabs-selected a, 
.ui-tabs-top > div > .ui-tabs-nav > li.ui-tabs-active a, 
.ui-tabs-top > div > .ui-tabs-nav > li.ui-state-hover a{
    color: #0f446c !important;
}

.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn{
    -moz-box-shadow: inset 0 0 0 1px #316996 !important;
    -webkit-box-shadow: inset 0 0 0 1px #316996 !important;
    box-shadow: inset 0 0 0 1px #316996 !important;
    background: #316996 !important;
    border: solid 1px #0f446c !important;
}



/* LEFT TABS */

.ui-tabs-left > ul.ui-tabs-nav > li > a {
    color: #545454 !important;    
}

.ui-tabs-left > .ui-tabs-nav > li.ui-state-hover a{
    color: #3b99cd !important;
}


.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected{
    background-color: #003C63 !important;
}
.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected a{
    color: #ECEFF1 !important;
}



/* Layout */
.ui-layout-unit-header{
    background-color: #607D8B !important;
    color: #607D8B !important;
}


/* Dialog */
.ui-dialog{
    border-color: #316996 !important;
    -moz-box-shadow: 0px 0px 5px 0px #78909C !important;
    -webkit-box-shadow: 0px 0px 5px 0px #78909C !important;
    box-shadow: 0px 0px 5px 0px #78909C !important;
}


/* Overlay */
.ui-overlaypanel{
    border-color: #316996 !important;
    -moz-box-shadow: 0px 0px 5px 0px #78909C !important;
    -webkit-box-shadow: 0px 0px 5px 0px #78909C !important;
    box-shadow: 0px 0px 5px 0px #78909C !important;
}




/* Form Object */

.divContent{
    border-color: #27AAE1 !important;
}


/* Book Input */
.iconPositionForBookFilter{
    color: #2c84b1 !important;
}
.bookColor{
    color: #2c84b1 !important;
}

/* Input Object */
.ui-inputfield.ui-state-hover, .ui-inputfield.ui-state-focus{
    border: solid 1px #303030;
    color: #303030 ;
}

.ui-inputfield{
    color: #303030 ;
}

.ui-outputlabel{
    color: #5a5a5a !important;
}


/* Select Form Object*/
.ui-selectonemenu .ui-selectonemenu-trigger, .ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
    background: #88BDE0 !important;
    border-color: #316996 !important;
    -webkit-box-shadow: inset 0px 0px 5px 0px #78909C !important;
    -moz-box-shadow: inset 0px 0px 5px 0px #78909C !important;
    box-shadow: inset 0px 0px 5px 0px #78909C !important;
}

.ui-selectonemenu.ui-state-focus,
.ui-selectcheckboxmenu.ui-state-focus,
.ui-paginator-page.ui-state-focus,
.ui-paginator-next.ui-state-focus,
.ui-paginator-prev.ui-state-focus,
.ui-paginator-last.ui-state-focus,
.ui-paginator-first.ui-state-focus,
.ui-paginator-rpp-options.ui-state-focus{
    border-color: #78909C !important; 
}

.ui-selectonemenu-panel{
    border-color: #78909C !important;
    color: #316996 !important;
}

.ui-selectonemenu-panel .ui-state-highlight, .ui-selectcheckboxmenu-panel .ui-state-highlight {
    color: #e90c45 !important;
}


/* Button */
.pgrToButton{
    background-color: #88BDE0 !important;
}
.ui-button span{
    background-color: #88BDE0 ;
    border-color: #316996 !important;
    color: #101010 !important;
}

.ui-button .ui-button-text{    
    -webkit-box-shadow:  inset 0px 0px 5px 0px #78909C !important;
    -moz-box-shadow:  inset 0px 0px 5px 0px #78909C !important;
    box-shadow:  inset 0px 0px 5px 0px #78909C !important; 
}
/*
.ui-button.ui-state-active .ui-button-text{
    background: #88bde0  !important;
}
*/
/* Steps */

.ui-steps .ui-state-highlight{
    background-color: #0f446c  !important;
}

.ui-steps .ui-steps-item .ui-steps-number{
    border-color: #316996 !important;
    background-color: #316996 !important;
}




/* PickList */

.ui-picklist .ui-widget-header{
    border-color: #2c84b1 !important;
    border-top-color: #2c84b1 !important;
    border-bottom-color: #2c84b1 !important; 
    background-color: #2c84b1 !important;
    color: #ECEFF1 !important;
}



.ui-picklist-list i{
    color: #2c84b1 !important;
}




.ui-picklist-item td{
    color: #303030 !important;
}

.ui-picklist .ui-sortable li{
    background-color: #fbfcfd !important;
}



.ui-picklist .ui-picklist-list .ui-state-hover{ 
    background-color: #6f6f6f !important;
}

.ui-picklist .ui-picklist-list .ui-state-highlight{
    background-color: #5a5a5a !important;
}

.ui-picklist .ui-picklist-list .ui-state-hover td, .ui-picklist .ui-picklist-list .ui-state-highlight td{
    color: #ECEFF1 !important;
}

.ui-picklist .ui-picklist-list .ui-state-hover td i, .ui-picklist .ui-picklist-list .ui-state-highlight td i{
    color: #ECEFF1 !important;
}




/* Tree Menu */

.ui-tree{
    color: #101010 !important;
}

.ui-tree .ui-treenode .ui-treenode-label.ui-state-hover{
    color: #316996 !important;
}

.ui-tree .ui-chkbox .ui-state-hover, .ui-chkbox .ui-state-focus{
    border-color: #316996 !important;
}


/* Checkbox */
.ui-chkbox .ui-chkbox-box{
    border-color: #cfd8dc !important;
}
.communicationcheckbox .ui-chkbox-box{
    border-color: #2da0da !important;
}
.ui-chkbox .ui-state-hover, .ui-chkbox .ui-state-focus{
    border-color: #2da0da !important;
}
.ui-chkbox-box .ui-icon-check, .authorizationPage .ui-treenode-content .ui-chkbox-box .ui-icon-minus{
    background-image: url("#{resource['sentinel-layout:theme/images/check-bluedanger.svg']}") !important;
}

.ui-chkbox-box .ui-icon-closethick{
    background-image: url("#{resource['sentinel-layout:theme/images/closethick-bluedanger.svg']}") !important;
    background-size: 100%;
    background-position: center;
}

/* Datepicker */
.ui-datepicker-header {
    border-color: #b6d1e4 !important;
    background-color: #88BDE0 !important;    
}

.ui-datepicker-title select{
    border-color: #90A4AE !important;
    background-color: #88BDE0 !important; 
}

.ui-timepicker-select{
    background-color: #88BDE0 !important; 
}

.ui-datepicker-calendar thead th {
    background-color: #B0BEC5 !important;
    color: #ECEFF1 !important;
}

.ui-datepicker-calendar thead .ui-datepicker-week-end{
    background-color: #88BDE0 !important;
    color: #ECEFF1 !important;
}

.ui-datepicker-header .ui-datepicker-prev-hover, .ui-datepicker-header .ui-datepicker-next-hover{
    background-color: #2c84b1 !important;
}

.ui-datepicker-current-day, .ui-datepicker-current-day a{    
    border-color: #FF0000 !important;
    color: #2c84b1 !important;
}

.ui-datepicker-calendar tbody td:hover, .ui-datepicker-calendar tbody td:hover a{
    border-color: #2c84b1 !important;
    color: #2c84b1 !important;
}

.ui-datepicker-buttonpane button{
    background-color: #2c84b1 !important;
    border-color: #B0BEC5 !important;
    color: #ECEFF1 !important;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-today a{
    color:#303030 !important;
}
.ui-datepicker-calendar tbody tr .ui-datepicker-today{
    border-color:#2c84b1 !important;
}

/********Fieldset*********/

.tlbrRefreshBtn{
    color: #2c84b1 !important;
}
.tlbrSearchBtn{
    color: #EF1011 !important;
}
.fltrPlusBtn{
    color: #6f6f6f !important;
}
/*Panel Group For Category*/
.categoryOutputText{

    border-color: #316996 !important;
    background-color: #B6D1E4 !important;
    color:#303030 !important;
}
.districtOutputText{
    border-color: #003c63 !important;
    background-color: #035192 !important;
    color: #eceff1 !important;  
}

.ui-fileupload-choose{
    background-color: #88BDE0 !important; 
}

/*** MESSAGE CSS ******/
.messageContent .ui-icon{
    color: #71EDFF !important; 
}

/*** MENUBAR CSS ******/
.ui-menu{border:solid 1px #2c84b1; background-color: #FBFCFD; color: #2c84b1;}
.ui-menu:hover, .ui-menu:focus{border:solid 1px #2c84b1;}
.ui-menu{border-radius: 5px 5px 5px 5px;}

/*** MESSAGE LI TEXT CSS******/
.layout-header-widgets-submenu li{ background-color:#035192 !important; }
.layout-header-widgets-submenu li > a{ text-decoration: none; color: #ffffff !important; }

/*** CHATBOX TOOLTIP CSS******/
a.tooltip:hover span{
    color:#fff !important;
    border:#DCA !important; 
    background:#8EDEFF !important; 
}

/*CSS3 extras*/
a.tooltip span
{
    box-shadow:#CCC;
}
.layout-header-widgets-submenu li{background-color:#035192 !important;}
.layout-header-widgets-submenu li > a{ text-decoration: none; color: #ffffff !important;}


/************   CHAT CSS   ************/

.rightusername{
    background-color: #88BDE0 !important;
    color: #FFF !important;
}

.chatminimize{
    background-color: #88BDE0 !important;
    color: #FFF !important;
}

.chatclose{
    background-color: #88BDE0 !important;
    color: #FFF !important;
}

.msgSend{
    background-color: #88BDE0 !important;
    color: #FFF !important;
}

.gidenmesaj{
    background-color: #88BDE0 !important; 
    color: #FFF !important;
    border-color: #FFF !important;
}

.chatboxleft{
    background-color: #798086 !important; 
    color: #FFF !important;
    border-color: #FFF !important;
}
/************   AUTOCOMPLETE   ************/
.ui-autocomplete-panel{
    background-color: #ECF7FF !important;
}

.ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item {
    color: #303030 !important;
    border-bottom-color: #88BDE0 !important;
}
.ui-autocomplete-panel .ui-autocomplete-items .ui-state-highlight{
    color: #FFFFFF !important;
    background-color: #8EF0FF !important;
}

/********** TREETABLE *****/

.ui-treetable {
    border-color:#2c84b1 !important;
}

/* TreeTable TBody */ 

.ui-treetable table thead tr th{
    background-color: #2c84b1 !important;
    color: #ECEFF1 !important;

}
/* TreeTable */

.ui-treetable table tbody tr td{
    color: #303030 !important;
    border-color:#cfd8dc !important;
    font-weight: normal;
}

.ui-treetable table tbody .ui-state-hover td{
    background-color: #8EF0FF !important;
    color: #000000 !important;
}
.ui-treetable table tbody .ui-state-highlight td{
    background-color: #8EDEFF !important;
    color: #ECEFF1 !important;

}

.ui-treetable table tbody tr td a{
    color: #2c84b1 !important;
}

.ui-treetable table tbody .ui-state-hover td a,
.ui-treetable table tbody .ui-state-highlight td a{
    color: #2c84b1 !important;
}
.categoryTreeSize table tbody .ui-state-hover td,
.categoryTreeSize table tbody .ui-state-highlight td{
    color: #303030 !important;
    background-color:#efefef !important; 
}


.ui-selectoneradio label {
    color:#303030 !important;
}
.ui-selectmanycheckbox label{
    color:#303030 !important;
}
.slcBranchSettings label{
    color: #72828B !important;
}
.ui-radiobutton .ui-state-active .ui-icon-bullet, .ui-radiobutton .ui-state-focus .ui-icon-bullet {
    background-image: url("#{resource['sentinel-layout:theme/images/radio-on-softblue.svg']}") !important;
}
.ui-radiobutton .ui-state-hover, .ui-radiobutton .ui-state-focus {
    border-color: #88bde0 !important;
}
/* selectManyButton */
.selectManyButton > div > span{
    background-color: #88BDE0 !important;
    border-color: #316996 !important;
    color: #FFFFFF !important; 
}
.selectManyButton > div > span:hover{
    background-color: #8EF0FF !important;
    border-color: #8EF0FF !important;
    color: #000000 !important; 
}
.selectManyButton > .ui-state-active > span{
    background-color: #035192 !important;
    border-color: #035192 !important;
    color: #FFFFFF !important; 
}


/*    tree horizontal   */
/*
.ui-tree-horizontal .ui-treenode .ui-state-hover{
    border: solid 1px #1578c9 !important;
}

.ui-tree-horizontal .ui-treenode .ui-state-highlight{
    border: solid 1px #1578c9 !important;
    background-color: #1578c9 !important; 
}*/
.changeBtn{
    color: #8EDEFF !important;
}
.ui-datascroller .ui-datascroller-header{
    background-color: #88bde0;
}
.ui-menu .ui-state-hover .ui-menuitem-link{
    color:#88bde0 !important;
}
.ui-datatable .ui-datatable-tablewrapper table tfoot tr td, .ui-datatable-resizable tfoot td{
    background-color: #b6d1e4 !important;
}
.ui-datatable .ui-datatable-scrollable-header{
    background-color: #88bde0  !important;
}
.ui-tooltip{   
    background-color: #035192 !important;
    color: #ECEFF1;
}

.ui-tooltip .ui-tooltip-text{    
    background-color: #035192 !important;

}
.ui-tooltip .ui-tooltip-arrow{    
    border-top-color: #035192 !important;

}
.ui-accordion{border:solid 1px #2da0da !important;}
.ui-accordion:hover{border:solid 1px #2da0da  !important;}
.ui-accordion-header{color:#303030; border:solid 1px #2da0da !important;
                     background: #C3DEF1;
                     /*background: -moz-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: -webkit-gradient(left top, left bottom, color-stop(0%, #1578c9), color-stop(100%, #0b66b1));
                     background: -webkit-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: -o-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: -ms-linear-gradient(top, #1578c9 0%, #0b66b1 100%);
                     background: linear-gradient(to bottom, #1578c9 0%, #0b66b1 100%);
                     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1578c9', endColorstr='#0b66b1', GradientType=0 );*/}
.ui-accordion .ui-accordion-header.ui-state-hover, .ui-accordion .ui-accordion-header.ui-state-active{background: #C3DEF1; color:#303030; border:solid 1px #2da0da !important;
                                                                                                      /*background: -moz-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: -webkit-gradient(left top, left bottom, color-stop(0%, #0b66b1), color-stop(100%, #1578c9));
                                                                                                      background: -webkit-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: -o-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: -ms-linear-gradient(top, #0b66b1 0%, #1578c9 100%);
                                                                                                      background: linear-gradient(to bottom, #0b66b1 0%, #1578c9 100%);
                                                                                                      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b66b1', endColorstr='#1578c9', GradientType=0 );*/}
.ui-accordion-header .ui-icon-triangle-1-s{background-image:url("#{resource['primefaces-sentinel:images/downarrow-gray.svg']}"); }
.ui-accordion-header .ui-icon-triangle-1-e{background-image:url("#{resource['primefaces-sentinel:images/rightarrow-gray.svg']}"); }

.profileBorder {
    border-color: #a6b5bd;
    background-color: #d3ebff;
}
.profileBackColor{
    background-color: #ebf0f5;
}
.profileLabelColor{
    color: #173e54 !important;
}
.profileButton span{
    background-color: #34688a;
    border-color: #316996 !important;
    color: #deeaee !important;
}
.profileLabelFormat{
    color: #545b61;
}
.profileTitleFormat{
    color: #0f2a3c;
}

.BtnOpenClose span{
    background-color: #bfc8cc !important;
    color: #6c7479 !important;
}
.dtbReport .groupRow
{
    background-color: #b6d1e4 !important;
    font-weight: bold;
}
.dtbReport .groupRow td{
    border: none !important;
}
.profileLeft {
    border-color: #7292a2;
    background: linear-gradient(350deg, #f9f9f9, #6ea2b3);
}
.profileBackColor{
    /* background-color: #e3e6e8;*/
    /*background: linear-gradient(229deg, #a4b9bd, #f7f7f7);*/
    background-color: #deeaee !important;

}
.profileLabelColor{
    color: #173e54 !important;
}
.profileButton span{
    background-color: #34688a;
    border-color: #316996 !important;
    color: #deeaee !important;
}
.profileLabelFormat{
    color: #284767 !important;
}
.profileTitleFormat{
    color: #224663;
}
.labelFormat{
    color: #224663;
}
.headerColor {
    color: #224663 !important;
}
.ui-outputlabel, table tbody tr td {
    color: #303030;
    font-weight: normal;
}
.fupload .ui-fileupload-choose .ui-icon-plusthick, .fupload .ui-fileupload-simple .ui-icon-plusthick{
    background-image:url("#{resource['sentinel-layout:theme/images/plus-sign-softblue.svg']}") !important;
}

.deleteDatalist .ui-datalist-header{
    background-color: #88BDE0 ;

}
.deleteDatalist .ui-datalist-content{
    border: solid 1px #88BDE0 ; 
}

.ui-datatable .ui-datatable-summaryrow{
    background: #c3def1;
}
/* Araç Takip Alanı */
.ui-icon-alarmT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/alarm/icon-alarm-softBlue.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-lastLocationT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/lastlocation/icon-lastlocation-softBlue.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-reportT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/report/icon-report-softBlue.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-trackingT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/tracking/icon-tracking-softBlue.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-userT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/user/icon-user-softBlue.png.xhtml?ln=sentinel-layout') !important;
}
.ui-icon-cameraT{
    content: url('/marwiz/javax.faces.resource/images/vehicletracking/camera/icon-camera-softBlue.png.xhtml?ln=sentinel-layout') !important;
}
.ui-bg{
    background-color: #88bde0 !important;
}
.ui-bg-div{
    background-color: #88bde0 !important;
}
.ui-colorButton{
    color: #88bde0 !important;
}
.ui-borderT{
    border: solid 1px #88bde0;
    box-shadow: 5px 1px 15px -4px #78909c, -5px 1px 8px -4px #78909c;
    -moz-box-shadow: 5px 1px 15px -4px #78909c, -5px 1px 8px -4px #78909c;
    -webkit-box-shadow: 5px 2px 36px 3px #78909c, -6px 1px 8px -4px #78909c;
    border-radius: 6px;
}
.ui-selectonemenu-panel tr.ui-state-highlight td {
    background-color: #8EDEFF !important;
    color: #000000 !important;
}
.ui-slider-handle{
    width:21px !important;
    height: 21px !important;
    cursor:move !important;
    border: solid 1px #88bde0 !important;
    -webkit-box-shadow: inset 0 0 0 1px #88bde0 !important;
    -moz-box-shadow:inset 0 0 0 1px #88bde0 !important;
    box-shadow: inset 0 0 0 1px #88bde0 !important;
    background: #cdd6de !important;
}
.timeSchedulingHour > input {
    border: 1px solid #88bde0;
    margin-bottom: .29em;
}


.allcheck .ui-chkbox-box{
    border-color: #000000  !important;
}.allcheck .ui-chkbox-label{
    color:#000000 !important;
    font-weight: bold !important;
}.allCheckSeparator{
    border-color: #2c84b1  !important;
}
.allCheckPanelGrid{
    border: solid 1px #2c84b1  !important;
    background-color:#ecf7ff !important; 
} 
/*analizde pompa ikonu için*/
.ui-icon-pump{
    background-image: url("#{resource['sentinel-layout/theme/images/pump-softblue.png']}") !important;
}
.ui-icon-tank{
    background-image: url("#{resource['sentinel-layout/theme/images/tank-softblue.png']}") !important;
}
.ui-icon-setting{
    background-image: url("#{resource['sentinel-layout/theme/images/setting-softblue.png']}") !important;
}
.pump span{
    background-color: #C3DEF1;
    border-color: #C3DEF1 !important;
}

.pump .ui-button-text{
    padding: 3px 15px 3px 3px !important;
    box-shadow: inset 0px 0px 0px 0px !important;
}
/*****************************/
.summaryPanelGrid tbody tr:first-child ,.summaryPanelGrid tbody tr:first-child td{
    background-color: #88BDE0  !important;
    color: #FFFFFF !important;
}
.summaryPanelGrid tbody tr td{
    border-color: #cfd8dc !important;
}
.summaryPanelGrid tbody tr:nth-child(even){
    background-color: #ECF7FF !important;
}
.summaryPanelGrid tbody tr:nth-child(odd){
    background-color: #FFFFFF !important;
}
.oldRecordsToolbar .ui-chkbox-box{
    border-color: #88bde0 !important;
}



/* MAP SCREEN */

.filterDiv{    
    background-color: #b6d1e4 !important; 
    border: 1px solid #035192 !important;
}

.filterBtn:hover {
    background-color: #8EF0FF !important;
}

.filterBtnChoose {
    background-color: #8EF0FF !important;
}

.mapScreenFltBtnDiv{
    background-color: #88bde0 !important; 
    box-shadow: 0px 5px 17px -3px #88bde0;            
    -webkit-box-shadow: 0px 5px 17px -3px #88bde0;
    -moz-box-shadow: 0px 5px 17px -3px #88bde0;
}

.panelToggleRotate2.down{
    background-color: #035192 !important;
    border: 1px solid #88BDE0 !important;
}

.mapScreenFltSelect .ui-corner-right{
    background-color: #035192 !important; 
}
.fltButton .ui-button-text{
    background-color: #035192 !important;
    color: #FFF !important;
}

.fltButton .ui-button-icon-left{
    color: #FFF !important;
}

.miniToolbarIcon:hover{
    background-color: #8EF0FF !important
}

.miniToolbarIconChoose{
    background-color: #8EF0FF !important
}

.mapScrennListBox{    
    background: #88BDE0 !important;
    border: 2px solid #035192 !important;
}

.sdTitle{
    background-color: #88bde0 !important;
}

.sdOther i{ 
    color: #88bde0 !important;
}

#miniToolbar{
    background-color: #88bde0 !important;
}

.detailDiv{
    background-color: #b6d1e4 !important; 
    border: 1px solid #035192 !important;
}

.detailTitle{
    color: #FFF !important; 
    background-color: #88bde0 !important;
}

.dtlOpenClose{
    background-color: #035192 !important;
}

.ui-buttonset .ui-state-active .ui-button-text , .ui-buttonset .ui-state-focus .ui-button-text{
    background-color: #8EF0FF !important;
}
.stationSupportNameDiv{
    border-bottom: 1px solid #78909C;
    background-color: #b6d1e4 !important;
    -moz-box-shadow: 5px 0px 5px 0px #78909C;
    -webkit-box-shadow: 5px 0px 5px 0px #78909C;
    box-shadow: 5px 0px 5px 0px #78909C;
}
.pngCheckBox, .pngCheckBoxReport{
    border: solid 1px #C0C5C7 !important; 
}
.ui-panelgrid thead tr td, .ui-panelgrid tfoot tr td {
    color: #535353;
    background-color: #eff3f5;
    border: solid 1px #2c84b1 !important;
}
.divColorPanelGrid{
    background-color: rgb(0, 60, 99) !important;   
    border-color: #2c84b1  !important;
}
/************PCRD CSS*****************/
.pcrdProcess .ui-panel-titlebar{
    background-color: #70a9a3  !important;
}
.pcrdCard .ui-panel-titlebar{
    background-color: #5571bd !important;
}
.pcrdReport .ui-panel-titlebar{
    background-color: #dc8167 !important;
}
.pcrdDefinition .ui-panel-titlebar{
    background-color: #bf5271 !important;
}
.menuProcess .ui-panelmenu-content a:hover, .menuProcess .ui-panelmenu-header a:hover{
    color: #70a9a3 !important;
}
.menuCard .ui-panelmenu-content a:hover, .menuCard .ui-panelmenu-header a:hover{
    color: #5571bd !important;
}
.menuReport .ui-panelmenu-content a:hover, .menuReport .ui-panelmenu-header a:hover{
    color: #dc8167 !important;
}
.menuDefinition .ui-panelmenu-content a:hover, .menuDefinition .ui-panelmenu-header a:hover{
    color: #bf5271  !important;
}
.tooltipPcrd, .tooltipPcrd .ui-tooltip-text{
    background-color: #545b61 !important;
}
.tooltipPcrd .ui-tooltip-arrow{    
    border-color: #545b61 !important;

}
.tooltipPcrd .ui-tooltip-text{
    -webkit-box-shadow: 0px 0px 3px 0px #545b61 !important;
    -moz-box-shadow: 0px 0px 3px 0px #545b61 !important;
    box-shadow: 0px 0px 3px 0px #545b61 !important;
}
/*************************************************/

/******widget colors *****/

.widgetcolor{
    color:#88bde0 !important;
}

/*************************/
.tlbrIdUnitType{
    color: #003c63 !important;
}
.outputTextRemainingAmount, .icnRemainingAmount{
    color: #6d8da2 !important;;
}
@media print{
    .ui-datatable table tbody tr td, .ui-datatable table thead tr th{
        border: 1px solid gray !important;
    }
    .ui-datatable .ui-datatable-tablewrapper table thead tr th{
        color: #5a6268 !important;

    }
}

.btnStockTaking span{
    background-color: #88BDE0 ;
    border-color: #316996 !important;
    color: #101010 !important;
}
.checkboxDarkBorder .ui-chkbox-box{
    border-color: #adadad !important
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label{
    color: #303030 !important;
}
.datatableLikeTree table tbody tr td{
    border-color: transparent !important;
}
.datatableLikeTree .ui-datatable-even, .datatableLikeTree .ui-datatable-odd{
    background-color: #efefef !important;
}
.datatableLikeTree .ui-datatable-tablewrapper table thead tr th{
    display: none;
}
.datatableLikeTree{
    border-color: #efefef !important;
    box-shadow: none;
    background-color: #efefef !important;
}
.datatableLikeTree .ui-datatable-tablewrapper table tbody .ui-state-highlight td, .datatableLikeTree .ui-datatable-tablewrapper table tbody .ui-state-hover td{
     background-color: #efefef !important;
     color: #303030 !important;
}
.checkboxtick .ui-panel-titlebar .ui-chkbox-box .ui-icon-check{
    background-image: url("#{resource['sentinel-layout:theme/images/check-bluedanger.svg']}") !important;
}
