<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:cache="http://www.springframework.org/schema/cache"
        xsi:schemaLocation="http://www.springframework.org/schema/beans 
                            http://www.springframework.org/schema/beans/spring-beans.xsd 
                            http://www.springframework.org/schema/context 
                            http://www.springframework.org/schema/context/spring-context.xsd 
                            http://www.springframework.org/schema/aop 
                            http://www.springframework.org/schema/aop/spring-aop.xsd 
                            http://www.springframework.org/schema/tx 
                            http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">
    
    <context:annotation-config />

    <import resource="SpringBean/general/sessionBean.xml" />
    <import resource="SpringBean/general/applicationBeans.xml" />
    <import resource="SpringBean/general/securityBeans.xml" /> 
    <import resource="SpringBean/general/dataSource.xml" />
    <import resource="SpringBean/general/loginBeans.xml" /> 
    <import resource="SpringBean/general/profileBeans.xml" />
    <import resource="SpringBean/general/coreBeans.xml" /> 
    <import resource="SpringBean/inventory/stockBeans.xml" />   
    <import resource="SpringBean/finance/safeBeans.xml" />  
    <import resource="SpringBean/general/unitBeans.xml" /> 
    <import resource="SpringBean/general/brandBeans.xml" />  
    <import resource="SpringBean/inventory/taxgroupBeans.xml" />   
    <import resource="SpringBean/finance/bankAccountBeans.xml" />   
    <import resource="SpringBean/finance/bankBeans.xml" /> 
    <import resource="SpringBean/system/userDataBeans.xml" />   
    <import resource="SpringBean/finance/financingDocumentBean.xml" />
    <import resource="SpringBean/system/authorizeBeans.xml" />
    <import resource="SpringBean/general/accountBeans.xml" />
    <import resource="SpringBean/general/categorizationBeans.xml" />
    <import resource="SpringBean/inventory/warehouseBeans.xml" />
    <import resource="SpringBean/inventory/priceListBeans.xml"/>
    <import resource="SpringBean/general/pointOfSaleBeans.xml"/>
    <import resource="SpringBean/general/cashRegisterBeans.xml"/>
    <import resource="SpringBean/finance/invoiceBeans.xml"/>
    <import resource="SpringBean/finance/waybillBeans.xml"/>
    <import resource="SpringBean/inventory/warehouseReceiptBeans.xml" />
    <import resource="SpringBean/general/documentNumberBeans.xml"/>
    <import resource="SpringBean/general/documentTemplateBeans.xml"/>
    <import resource="SpringBean/system/branchBeans.xml" />
    <import resource="SpringBean/general/ftpconnectionBeans.xml" />
    <import resource="SpringBean/general/dashboardBeans.xml" />
     
    <import resource="SpringBean/finance/creditBeans.xml" />
  
    <import resource="SpringBean/general/reportBeans.xml" />
    <import resource="SpringBean/inventory/transferBetweenWarehouseBeans.xml" />
    <import resource="SpringBean/general/exchangeBeans.xml" />
    <import resource="SpringBean/inventory/stockTakingBeans.xml" />
    <import resource="SpringBean/general/creditCardMachineBeans.xml" />
    <import resource="SpringBean/general/marketShiftBeans.xml" />
    <import resource="SpringBean/general/historyBeans.xml" />
    <import resource="SpringBean/inventory/automationDeviceBeans.xml" />
    
    <import resource="SpringBean/service/serviceBeans.xml" />
    <import resource="SpringBean/inventory/stockRequestBeans.xml" />
    <import resource="SpringBean/finance/chequeBillBeans.xml" />
    <import resource="SpringBean/finance/saleReturnBean.xml" />
    <import resource="SpringBean/automation/reportBeans.xml" />
    <import resource="SpringBean/finance/incomeExpenseBeans.xml" />
    <import resource="SpringBean/general/noteBeans.xml" />

    <import resource="SpringBean/automation/reportBeans.xml" />
    <import resource="SpringBean/automation/saleTypeBeans.xml" />
    <import resource="SpringBean/finance/customerAgreementsBeans.xml" />
    <import resource="SpringBean/general/gridproperties.xml" />
    <import resource="SpringBean/inventory/stockOperationsBeans.xml" />
    <import resource="SpringBean/automation/fuelShiftBeans.xml" />
    <import resource="SpringBean/inventory/stockPriceRequestBeans.xml" />
    
    <import resource="SpringBean/automation/tankBeans.xml" />
    <import resource="SpringBean/automation/nozzleBeans.xml" />
    <import resource="SpringBean/automat/washingMachicnesBeans.xml" />
    
    <import resource="SpringBean/inventory/cameraBeans.xml" />
    <import resource="SpringBean/automat/reportBeans.xml"/>
    <import resource="SpringBean/finance/discountBean.xml"/>
    <import resource="SpringBean/system/filetransferBeans.xml"/>
    

    <import resource="SpringBean/general/refineryPurchaseBeans.xml"/>
    <import resource="SpringBean/general/contractArticlesBeans.xml"/>
    
    <import resource="SpringBean/system/sapIntegrationBeans.xml"/>
    <import resource="SpringBean/automat/washingMachicneShiftBeans.xml"/>
    <import resource="SpringBean/system/eInvoiceIntegrationBeans.xml"/>
    
    <import resource="SpringBean/integration/officialaccounting.xml"/>
    <import resource="SpringBean/general/responsibleBeans.xml"/>
    <import resource="SpringBean/inventory/taxDepartmentBeans.xml"/>
    <import resource="SpringBean/general/protocolBeans.xml"/>
    <import resource="SpringBean/inventory/automationDeviceFillingBeans.xml"/>
    <import resource="SpringBean/inventory/wasteReasonBeans.xml" />
    <import resource="SpringBean/inventory/starbucksStockBeans.xml" />
    <import resource="SpringBean/general/centralSupplierBeans.xml" />
    <import resource="SpringBean/system/unsuccessfulSalesProcessBeans.xml" />
    <import resource="SpringBean/inventory/centralpriceprocessesBeans.xml" />
    <import resource="SpringBean/general/printerBeans.xml" />
    <import resource="SpringBean/finance/orderBeans.xml" />
    
    <import resource="SpringBean/system/paymentTypeBeans.xml" />
    <import resource="SpringBean/system/zSeriesBeans.xml" />
    <import resource="SpringBean/system/sapAgreementBeans.xml" />
    <import resource="SpringBean/system/scheduledTaskProcessesBeans.xml" />
    <import resource="SpringBean/system/exchangeDefinitionsBeans.xml" />
    <import resource="SpringBean/system/salesNotTransferredToTanıBeans.xml" />
    <import resource="SpringBean/system/hepsiburadaintegrationBeans.xml" />
    <import resource="SpringBean/inventory/starbucksMachineBeans.xml" />
    <import resource="SpringBean/system/sapStockControlProcessBeans.xml" />
    <import resource="SpringBean/automation/cardTypeBeans.xml" />
 <!-- <aop:aspectj-autoproxy /> -->

</beans>
    
