.imag {
max-height: 100%;  
max-width: 100%; 
width: auto;
height: auto;
position: absolute;  
top: 0;  
bottom: 0;  
left: 0;  
right: 0;  
margin: auto;
}

 .tbf_tablo {
display: table;
padding: 1px;
border:0px black solid;
background-color: #fbfcfd;
box-shadow: 6px 6px 10px white;
margin-right: auto; 
margin-left: auto;
font-family: Consolas, Verdana, Tahoma;
 }

.tbf_satir {
display: table-row;
 }
 
.tbf_hucre {
display: table-cell;
width: 300px;
height: 150px;
padding: 13px;
}

.pump{
display: table;
width: 280px;
height: 150px;
border:0px;
border-bottom-right-radius: 25px;
border-top-left-radius: 25px;
box-shadow: 6px 6px 10px #b6d1e4;
background: linear-gradient(to top, #f3f5f7, #818384);  
text-align: center;
}

.pno{
width: 90px;
height: 41px;
border-bottom:0px solid;
border-top-left-radius: 25px;
border-color: black;
border-right:0px solid;
float:left;
font-family: Consolas, Verdana, Tahoma;
color: #030e31;
font-size: 30px; 
background-color:#b6d1e4 ;
}

.yakit{
width: 189px; 
height: 20px; 
border-bottom:1px solid;
border-color: #95B8BB;
float:left;
background-color:#F3F8Ff ;
color: #030e31;
}

.name{
width: 280px; 
height: 20px; 
border-bottom:1px solid;
border-color: #95B8BB;
float:left;
background-color:#CECFCE ;
color: #030e31;
}

.status{
width: 90px;
height: 87px;
float:left;
position:relative;
font-size:12px;
color: #030e31;
}

.plate{
width: 189px; 
height: 28px; 
border-bottom:1px solid;
float:left;
font-family: Consolas,Verdana, Tahoma;
color: #030e31;
}

.desc{
width: 29px; 
height: 28px; 
float:left;
font-family: Consolas, Verdana, Tahoma;
font-size:14px;
text-align: left;
vertical-align: middle;
line-height: 2em;
color: #030e31;
}

.total{
width: 159px; 
height: 28px; 
border-bottom:1px dotted;
float:left;
font-family: Consolas, Verdana, Tahoma;
font-size:22px;
text-align:right;
color: #030e31;
}

.litre{
width: 159px; 
height: 30px; 
float:left;
font-family: Consolas, Verdana, Tahoma;
font-size:22px;
text-align:right;
color: #030e31;
}

.tanklt{
width: 250px; 
height: 30px; 
float:left;
font-family: Consolas, Verdana, Tahoma;
font-size:22px;
text-align:right;
border-bottom:1px dotted;
}
